body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
select {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
  cursor: pointer;
}
body {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 82px;
  background: #359d96;
}
.header-wrapper:before,
.header-wrapper:after {
  content: " ";
  display: table;
}
.header-wrapper:after {
  clear: both;
}
.header-wrapper .back {
  position: absolute;
  top: 21px;
  left: 21px;
  display: block;
  height: 36px;
  line-height: 36px;
  font-size: 23px;
  text-align: center;
  z-index: 9;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.header-wrapper .back span {
  display: inline-block;
  margin-left: 10px;
}
.header-wrapper .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 82px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}
.header-wrapper .add-address {
  position: absolute;
  top: 30px;
  right: 56px;
  line-height: 26px;
  font-size: 26px;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #fff;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/liulin/11_4.png) no-repeat;
  background-size: 100% 100%;
}
.scroll-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.scroll-wrapper .wrapper {
  padding-bottom: 100px;
}
.scroll-wrapper .logo {
  display: block;
  padding-top: 128px;
  margin: 0 auto;
}
.scroll-wrapper .form {
  width: 70%;
  margin: 100px auto 40px auto;
}
.scroll-wrapper .form .form-item {
  display: flex;
  margin: 20px auto 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}
.scroll-wrapper .form .form-item:first-child {
  margin: 0 auto;
}
.scroll-wrapper .form .form-item .form-key {
  width: 30px;
  margin: 15px 20px;
}
.scroll-wrapper .form .form-item .form-key img {
  display: block;
  width: 100%;
}
.scroll-wrapper .form .form-item .form-input {
  flex: 1;
  padding: 0 10px 0 0;
  height: 60px;
  font-size: 26px;
  line-height: 60px;
  color: #fff;
  background: none;
  box-sizing: border-box;
}
.scroll-wrapper .form .form-item .form-input::-webkit-input-placeholder {
  color: #fff;
}
.scroll-wrapper .form-btn {
  width: 70%;
  height: 82px;
  margin: 46px auto 0 auto;
  text-align: center;
  line-height: 82px;
  color: #fff;
  font-size: 30px;
  border: 1px solid #fff;
  border-radius: 45px;
  cursor: pointer;
}
