dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
select {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
  cursor: pointer;
}
body {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
.clearFix:after {
  content: " ";
  display: table;
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 24px;
}
body {
  background: #fff;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/aijiade/3_2.png) no-repeat;
  background-size: 100% 100%;
}
.container .header {
  text-align: center;
  padding-top: 20px;
}
.container .inp {
  margin: 0 45px 0 45px;
}
.container .inp input {
  width: 530px;
  line-height: 70px;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 24px;
}
.container .inp a {
  display: block;
  text-align: center;
  background: #90b124;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 24px;
  color: #ddd;
  line-height: 70px;
  width: 550px;
}
.container .text {
  margin: 20px 45px 0 45px;
}
.container .text dt {
  margin-bottom: 10px;
}
.container .text dd {
  margin-bottom: 10px;
  font-size: 20px;
}
.container .img {
  margin-top: 30px;
  position: relative;
}
.container .img .img1 {
  position: absolute;
  left: 26px;
}
.container .img .img2 {
  position: absolute;
  left: 205px;
  top: 50px;
}
.container .img .img3 {
  position: absolute;
  left: 240px;
}
.container .img .img4 {
  position: absolute;
  left: 415px;
  top: 50px;
}
.container .img .img5 {
  position: absolute;
  left: 455px;
}
.container .footer {
  position: absolute;
  bottom: 40px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  color: #656766;
}
.container .yanzhen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: none;
}
.container .yanzhen .header {
  padding-top: 160px;
  text-align: center;
}
.container .yanzhen .nav {
  position: relative;
  text-align: center;
  padding-top: 100px;
}
.container .yanzhen .nav img {
  position: absolute;
  right: 20px;
  top: 25px;
}
.container .yanzhen .text {
  margin-top: 60px;
  color: #555;
}
.container .yanzhen .text span {
  color: #f88887;
}
