.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
/* 新增一些iPhone下不兼容的动画库 */
/*
 * 1.从左向右出动画
*/
@-webkit-keyframes left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes left {
  0% {
    opacity: 0;
    -o-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 2.从右向左出动画
*/
@-webkit-keyframes right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes right {
  0% {
    opacity: 0;
    -moz-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes right {
  0% {
    opacity: 0;
    -o-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 3.从上向下出动画
*/
@-webkit-keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes down {
  0% {
    opacity: 0;
    -moz-transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes down {
  0% {
    opacity: 0;
    -o-transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 4.从下往上出动画
*/
@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes up {
  0% {
    opacity: 0;
    -moz-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes up {
  0% {
    opacity: 0;
    -o-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 5.上下浮动动画1
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown1 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}
@-moz-keyframes upDown1 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}
@-o-keyframes upDown1 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(10px);
  }
}
/*
 * 6.上下浮动动画2
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown2 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-moz-keyframes upDown2 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-o-keyframes upDown2 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(20px);
  }
}
/*
 * 7.上下浮动动画3
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown3 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
  }
}
@-moz-keyframes upDown3 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
  }
}
@-o-keyframes upDown3 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(30px);
  }
}
/*
 * 8.左右浮动动画1
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight1 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes leftRight1 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
@-o-keyframes leftRight1 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(10px);
  }
}
/*
 * 9.左右浮动动画2
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight2 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
  }
}
@-moz-keyframes leftRight2 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
  }
}
@-o-keyframes leftRight2 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(20px);
  }
}
/*
 * 10.左右浮动动画3
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight3 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
  }
}
@-moz-keyframes leftRight3 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
  }
}
@-o-keyframes leftRight3 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(30px);
  }
}
@-webkit-keyframes shakeAni {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .form-wra {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 82px;
  box-sizing: border-box;
}
#app .form-wra .logo {
  display: block;
  margin: 0 auto;
}
#app .form-wra .form {
  width: 90%;
  padding: 50px 30px 70px 30px;
  margin: 82px auto 0 auto;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}
#app .form-wra .form .form-item {
  display: flex;
}
#app .form-wra .form .form-item .form-key {
  color: #000;
  line-height: 65px;
  font-size: 28px;
}
#app .form-wra .form .form-item .form-val {
  flex: 1;
}
#app .form-wra .form .form-item .form-val .form-input {
  display: block;
  width: 100%;
  height: 65px;
  padding: 0 10px;
  line-height: 65px;
  font-size: 28px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
}
#app .form-wra .form .form-code-item {
  margin-top: 35px;
}
#app .form-wra .form .form-code-item .form-val {
  flex: 1;
}
#app .form-wra .form .form-code-item .form-val:before,
#app .form-wra .form .form-code-item .form-val:after {
  content: " ";
  display: table;
}
#app .form-wra .form .form-code-item .form-val:after {
  clear: both;
}
#app .form-wra .form .form-code-item .form-val .form-input {
  float: left;
  display: block;
  width: 50%;
}
#app .form-wra .form .form-code-item .form-val .form-code-btn {
  float: right;
  display: block;
  width: 40%;
  height: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 28px;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
}
#app .form-wra .form .form-code-item .form-val .active {
  background: #eee;
}
#app .form-wra .form .form-btn-item {
  margin-top: 70px;
}
#app .form-wra .form .form-btn-item:before,
#app .form-wra .form .form-btn-item:after {
  content: " ";
  display: table;
}
#app .form-wra .form .form-btn-item:after {
  clear: both;
}
#app .form-wra .form .form-btn-item .form-btn {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-size: 30px;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
}
#app .form-wra .form .form-btn-item .form-cancel-btn {
  margin-left: 112px;
}
#app .form-wra .form .form-btn-item .form-confirm-btn {
  margin-left: 50px;
  color: #fff;
  background: #359a34;
}
#app .container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
}
#app .container .page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
#app .container .page .abs {
  position: absolute;
}
#app .container .page1 {
  position: relative;
}
#app .container .page1 .bg {
  display: block;
  width: 100%;
  height: 100%;
}
#app .container .page1 .bottom-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  width: 100%;
}
#app .container .page1 .shake-btn {
  position: absolute;
  left: 25%;
  bottom: 4%;
  z-index: 1;
  display: block;
  width: 50%;
  cursor: pointer;
}
#app .container .page1 .shake-tips {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#app .container .page1 .shake-tips .img1 {
  position: absolute;
  left: 12%;
  top: 25%;
  z-index: 10;
}
#app .container .page1 .shake-tips .img2 {
  position: absolute;
  right: -30px;
  top: 38%;
  z-index: 10;
  animation: shakeAni 2s linear infinite;
  -webkit-animation: shakeAni 2s linear infinite;
}
#app .container .page1 .result {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 8%;
  z-index: 99;
  display: none;
}
#app .container .page1 .result .result-wrapper {
  width: 100%;
}
#app .container .page1 .result .result-wrapper .result-bg {
  display: block;
  width: 100%;
}
#app .container .page1 .result .result-wrapper .back-btn {
  position: absolute;
  left: 50%;
  bottom: 11%;
  z-index: 10;
  display: block;
  -webkit-transform: translateX(-50%);
}
#app .container .page1 .result .result-wrapper .back-btn img {
  display: block;
}
#app .container .page1 .result .result-wrapper .close-result {
  position: absolute;
  right: 26%;
  top: 3%;
  z-index: 10;
  display: block;
  width: 7%;
  cursor: pointer;
}
#app .container .page1 .result .result-wrapper .num-wra {
  position: absolute;
  left: 50%;
  top: 16%;
  z-index: 0;
  color: #d9341e;
  font-size: 30px;
  -webkit-transform: translateX(-50%);
}
#app .container .page1 .result .result-wrapper .num-wra .num {
  font-size: 42px;
  font-weight: bold;
}
#app .container .page1 .result .result-wrapper .loty-text {
  position: absolute;
  left: 50%;
  top: 34%;
  z-index: 0;
  color: #d9341e;
  font-size: 24px;
  text-align: center;
  -webkit-transform: translateX(-50%);
}
#app .container .page1 .result .result-wrapper .result-tips {
  position: absolute;
  left: 0;
  top: 54%;
  z-index: 0;
  display: none;
  text-align: center;
  color: #d9341e;
  width: 100%;
  font-size: 21px;
}
@-webkit-keyframes show {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.loading {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.loading .loadCon {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.loading .loadCon img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  -webkit-animation: load 4s linear infinite;
}
.loading .loadCon #percent {
  font-size: 24px;
  line-height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  text-align: center;
}
