<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>潘高寿产品信息</title>
		<meta name="viewport" content="width=640, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/pangaoshouNew/css/swiper-3.3.1.min.css" />
		<link rel="stylesheet" type="text/css" href="/pangaoshouNew/css/index.css" />
	</head>
	<body>
		<div class="container">
			<!-- 顶部图片 -->
			<div class="header">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_1.png">
			</div>

			<!-- 公司简介几个tab -->
			<ul class="chooseTab">
				<li class="tab-item">
					<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_2.png" class="tab-item-img">
					<span class="active">公司简介</span>
				</li>
				<li class="tab-item">
					<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_4.png" class="tab-item-img">
					<span>产品信息</span>
				</li>
				<li class="tab-item">
					<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_6.png" class="tab-item-img">
					<span>产品体系</span>
				</li>
				<li class="tab-item">
					<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_8.png" class="tab-item-img">
					<span>品牌建设</span>
				</li>
				<li class="tab-item">
					<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_10.png" class="tab-item-img">
					<span>科技创新</span>
				</li>
			</ul>

			<!-- 对应tab内容 -->
			<ul class="tab-content-wrap">
				<!-- 公司简介 -->
				<li class="tab-content">
					<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/3_1.png" class="title-img">
					<p>广州白云山潘高寿药业股份有限公司（下简称“白云山潘高寿”）始创于清光绪十六年（公元1890年），是国务院首批认定的“中华老字号”。现隶属于广州医药集团有限公司，是一家以研发和生产止咳化痰中成药著称的现代化高新技术企业。</p>
					<p>白云山潘高寿位于广州市番禺区东环街天保路9-11号，占地面积5万多平方米，建筑面积8万平方米，绿化面积达80%，是按国家GMP标准建造的现代化制药企业。现有生产设备配置达到国内和国际先进水平，并建立起一整套完善的质量管理体系。连续多年获得“安全生产标准化企业”、“清洁生产企业”、“守合同重信用企业”、“纳税信用等级A级纳税人”、“劳动关系和谐企业”、“企业文化示范基地”等荣誉，2012年被中国医药企业管理协会评为“中国百家优秀医药企业”之一。</p>
				</li>

				<!-- 产品信息 -->
				<li class="tab-content">
					<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_1.png" class="title-img">
					<ul class="product-list">
						<!-- 营养软胶胶囊凝胶糖果系列 -->
						<li class="list-wrap">
							<div class="product-title" id="product-title-1">
								营养软胶胶囊凝胶糖果系列
								<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_2.png" class="arrow">
							</div>
							<div class="swiper-container swiper-container-1">
								<div class="swiper-wrapper">
									<div class="swiper-slide milkCalcium">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_2.png">
										<span>乳钙<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide fruit-calcium">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_4.png">
										<span>果蔬高钙D<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide fruit-iron">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_6.png">
										<span>果蔬铁<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide DHA">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_8.png">
										<span>DHA藻油<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide yeast">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_10.png">
										<span>富锌酵母<br>凝胶糖果</span>
									</div>
								</div>
								<!-- 如果需要分页器 -->
								<div class="swiper-pagination swiper-pagination-1"></div>

								<!-- 如果需要导航按钮 -->
								<div class="swiper-button-prev swiper-button-prev-1"></div>
								<div class="swiper-button-next swiper-button-next-1"></div>

							</div>
						</li>

						<!-- 营养冲剂系列 -->
						<li class="list-wrap">
							<div class="product-title product-title-2" id="product-title-2">
								营养冲剂系列
								<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_2.png" class="arrow">
							</div>
							<div class="swiper-container swiper-container-2">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_23.jpg">
										<span>乳铁<br>蛋白</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_12.png">
										<span>益生菌粉<br>固体饮料</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_14.png">
										<span>水苏糖甘草D<br>固体饮料</span>
									</div>


								</div>
								<!-- 如果需要分页器 -->
								<div class="swiper-pagination swiper-pagination-2"></div>

								<!-- 如果需要导航按钮 -->
								<div class="swiper-button-prev swiper-button-prev-2"></div>
								<div class="swiper-button-next swiper-button-next-2"></div>

							</div>
						</li>

						<!-- 蛋白质粉系列 -->
						<li class="list-wrap">
							<div class="product-title" id="product-title-3">
								蛋白质粉系列
								<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_2.png" class="arrow">
							</div>
							<div class="swiper-container swiper-container-3">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_20.jpg">
										<span>多维<br>蛋白</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_21.jpg">
										<span>钙铁锌D<br>蛋白</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_22.jpg">
										<span>高钙<br>蛋白</span>
									</div>
								</div>
								<!-- 如果需要分页器 -->
								<div class="swiper-pagination swiper-pagination-3"></div>

								<!-- 如果需要导航按钮 -->
								<div class="swiper-button-prev swiper-button-prev-3"></div>
								<div class="swiper-button-next swiper-button-next-3"></div>

							</div>
						</li>

						<!-- 草本功能性固体饮料 -->
						<li class="list-wrap">
							<div class="product-title product-title-2" id="product-title-4">
								草本功能性固体饮料
								<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_2.png" class="arrow">
							</div>
							<div class="swiper-container swiper-container-4">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_16.jpg">
										<span>百合益智仁<br>颗粒</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_17.jpg">
										<span>茯苓鸡内金<br>颗粒</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_18.jpg">
										<span>蒲公英菊花<br>颗粒</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_19.jpg">
										<span>紫苏桔梗<br>颗粒</span>
									</div>

								</div>
								<!-- 如果需要分页器 -->
								<div class="swiper-pagination swiper-pagination-4"></div>

								<!-- 如果需要导航按钮 -->
								<div class="swiper-button-prev swiper-button-prev-4"></div>
								<div class="swiper-button-next swiper-button-next-4"></div>

							</div>
						</li>

						<!-- 营养包(婴幼儿专业型) -->
						<li class="list-wrap">
							<div class="product-title" id="product-title-5">
								营养包(婴幼儿专业型)
								<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_2.png" class="arrow">
							</div>
							<!-- <div class="swiper-container swiper-container-5">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_2.png">
										<span>乳钙<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_4.png">
										<span>果蔬高钙D<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_6.png">
										<span>果蔬铁<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_8.png">
										<span>DHA藻油<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_10.png">
										<span>富锌酵母<br>凝胶糖果</span>
									</div>
								</div> -->
							<!-- 如果需要分页器 -->
							<!-- <div class="swiper-pagination swiper-pagination-5"></div> -->

							<!-- 如果需要导航按钮 -->
							<!-- <div class="swiper-button-prev swiper-button-prev-5"></div>
								<div class="swiper-button-next swiper-button-next-5"></div>

							</div> -->
						</li>

						<!-- 压片糖果系列 -->
						<li class="list-wrap">
							<div class="product-title product-title-2" id="product-title-6">
								压片糖果系列
								<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_2.png" class="arrow">
							</div>
							<!--<div class="swiper-container swiper-container-6">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_2.png">
										<span>乳钙<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_4.png">
										<span>果蔬高钙D<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_6.png">
										<span>果蔬铁<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_8.png">
										<span>DHA藻油<br>凝胶糖果</span>
									</div>
									<div class="swiper-slide">
										<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_10.png">
										<span>富锌酵母<br>凝胶糖果</span>
									</div>
								</div> -->
							<!-- 如果需要分页器 -->
							<!-- <div class="swiper-pagination swiper-pagination-6"></div> -->

							<!-- 如果需要导航按钮 -->
							<!-- <div class="swiper-button-prev swiper-button-prev-6"></div>
								<div class="swiper-button-next swiper-button-next-6"></div>

							</div> -->
						</li>

					</ul>
				</li>

				<!-- 产品体系 -->
				<li class="tab-content">
					<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_12.png" class="title-img">
					<p>白云山潘高寿主要生产中药制剂，拥有涵盖呼吸科、儿科、妇科/肿瘤科、保健食品4大领域、5大剂型40多个品种的产品系列。“治咳百年，真材实料”，治咳川贝枇杷露为国内首创，与蛇胆川贝液、蛇胆川贝枇杷膏、蜜炼川贝枇杷膏为公司四大支柱产品，均为广东省“高新技术产品”，其中治咳川贝枇杷露、蜜炼川贝枇杷膏为国内独家品种。因应咳嗽不同病症推出的杏苏止咳口服液、养阴清肺合剂、半夏糖浆、桑菊感冒合剂等，儿科用药小儿清热利肺口服液、清热化湿口服液、小儿七星茶糖浆等，妇科用药丹鳖胶囊、参术止带糖浆，益补类产品养血当归糖浆、益肾养元合剂、维血康糖浆等多个品类均颇受消费者青睐。</p>
				</li>

				<!-- 品牌建设 -->
				<li class="tab-content">
					<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_1.png" class="title-img">
					<p>拓宽健康产业道路，实现企业多元发展”的企业愿景，白云山潘高寿将秉承“积功累德，济人济世”的祖训，通过科技创新、管理创新、营销创新、文化创新提升企业核心竞争力，擦亮“潘高寿”品牌，以“健康、快乐、高寿”的品牌形象造福人类。</p>
				</li>

				<!-- 科技创新 -->
				<li class="tab-content">
					<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/4_1.png" class="title-img">
					<p>白云山潘高寿以提高自主创新能力、增强科技综合实力为目标，大力开展新药开发、产品质量标准提高、产品二次开发等科技创新工作。“抗雾霾饮料及其制备方法”获国家发明专利授权，至此企业已拥有国家发明专利15项。公司现为“广东省高新技术企业”、“广东省创新型试点企业”、“市级企业技术中心”、“广州市传统优势企业转型升级示范企业”、“广州市创新型企业”、“广州市科学技术普及基地”。</p>
				</li>
			</ul>

			<p class="powered-img"><img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_13.png"></p>


		</div>
		<div class="cover cover-1">
			<div class="product-detail">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_1.png" class="product-info">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_2.png" class="product-img">
				<p><span class="detail-title">【产品名称】：</span>乳钙凝胶糖果</p>
				<p><span class="detail-title">【建议零售价】：</span>168元/盒</p>
				<p><span class="detail-title">【产品规格】：</span>0.8g/粒</p>
				<p><span class="detail-title">【产品类型】：</span>凝胶糖果</p>
				<p><span class="detail-title ingredients">【配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;料】：</span><span class="ingredients-content">夹心：海藻粉、葵花籽油、可可脂、单,双甘油脂肪酸酯、全脂乳粉、食用葡萄糖、大豆磷脂、食用香精；
						外皮：明胶、水、麦芽糖浆、甘油、二氧化钛</span></p>
				<p><span class="detail-title">【每粒含】：</span>钙 60mg</p>
				<p class="allergy">【过敏原信息】：本品含有乳粉、大豆制品</p>

				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_8.png" class="close close-1">
			</div>


		</div>

		<div class="cover cover-2">
			<div class="product-detail">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_1.png" class="product-info">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_2.png" class="product-img">
				<p><span class="detail-title">【产品名称】：</span>果蔬铁凝胶糖果</p>
				<p><span class="detail-title">【建议零售价】：</span>168元/盒</p>
				<p><span class="detail-title">【产品规格】：</span>0.8g/粒</p>
				<p><span class="detail-title">【产品类型】：</span>凝胶糖果</p>
				<p><span class="detail-title ingredients">【配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;料】：</span><span class="ingredients-content">夹心：葵花籽油、醋酸酯淀粉、食用葡萄糖、单,双甘油脂肪酸酯、海藻粉、草莓粉、菠菜粉、可可脂、麦芽糖浆、大豆磷脂、焦磷酸铁、食用香精；
						外皮：明胶、水、麦芽糖浆、甘油、二氧化钛、复配着色剂（日落黄、胭脂红、亮蓝）</span></p>
				<p><span class="detail-title">【每粒含】：</span>铁 0.72mg</p>
				<p class="allergy">【过敏原信息】：本品含有大豆制品，此生产线也加工含有乳制品的食品</p>
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_8.png" class="close close-2">
			</div>


		</div>

		<div class="cover cover-3">
			<div class="product-detail">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_1.png" class="product-info">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_2.png" class="product-img">
				<p><span class="detail-title">【产品名称】：</span>果蔬高维D凝胶糖果</p>
				<p><span class="detail-title">【建议零售价】：</span>168元/盒</p>
				<p><span class="detail-title">【产品规格】：</span>0.8g/粒</p>
				<p><span class="detail-title">【产品类型】：</span>凝胶糖果</p>
				<p><span class="detail-title ingredients">【配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;料】：</span><span class="ingredients-content">夹心：葵花籽油、醋酸酯淀粉、海藻粉、食用葡萄糖、起酥油、单,双甘油脂肪酸酯、蘑菇粉、胡萝卜粉、哈密瓜粉、全脂乳粉、大豆磷脂、食用香精；
						外皮：明胶、水、麦芽糖浆、甘油、二氧化钛、日落黄</span></p>
				<p><span class="detail-title">【每粒含】：</span>维生素D 3.6μg</p>
				<p class="allergy">【过敏原信息】：本产品含有乳粉，大豆制品</p>
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_8.png" class="close close-3">
			</div>


		</div>

		<div class="cover cover-4">
			<div class="product-detail">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_1.png" class="product-info">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_2.png" class="product-img">
				<p><span class="detail-title">【产品名称】：</span>富锌酵母凝胶糖果</p>
				<p><span class="detail-title">【建议零售价】：</span>168元/盒</p>
				<p><span class="detail-title">【产品规格】：</span>0.8g/粒</p>
				<p><span class="detail-title">【产品类型】：</span>凝胶糖果</p>
				<p><span class="detail-title ingredients">【配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;料】：</span><span class="ingredients-content">夹心：葵花籽油、富锌酵母、醋酸酯淀粉、海藻粉、起酥油、单,双甘油脂肪酸酯、食用葡萄糖、全脂乳粉、大豆磷脂、食用香精；
						外皮：明胶、水、麦芽糖浆、甘油、二氧化钛。</span></p>
				<p><span class="detail-title">【每粒含】：</span>锌1.2mg</p>
				<p class="allergy">【过敏原信息】：本产品含有乳粉，大豆制品</p>
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_8.png" class="close close-4">
			</div>


		</div>

		<div class="cover cover-5">
			<div class="product-detail">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_1.png" class="product-info">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/5_2.png" class="product-img">
				<p><span class="detail-title">【产品名称】：</span>DHA藻油凝胶糖果（鱼型粒子低含量---婴童用）</p>
				<p><span class="detail-title">【建议零售价】：</span>168元/盒</p>
				<p><span class="detail-title">【产品规格】：</span>0.8g/粒</p>
				<p><span class="detail-title">【产品类型】：</span>凝胶糖果</p>
				<p><span class="detail-title ingredients">【配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;料】：</span><span class="ingredients-content">夹心：ＤＨＡ藻油，葵花籽油，亚麻籽油；外皮：明胶，水，麦芽糖浆，甘油。</span></p>
				<p><span class="detail-title">【每粒含】：</span>DHA 130mg</p>
				<p class="allergy">【过敏原信息】：无</p>
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/2_8.png" class="close close-5">
			</div>


		</div>
		<script src="/pangaoshouNew/js/jquery-2.2.2.min.js" type="text/javascript"></script>
		<script src="/pangaoshouNew/js/swiper-3.3.1.jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			//初始化swipper
			var mySwiper1 = new Swiper('.swiper-container-1', {
				autoplay: 2000,
				//autoplayDisableOnInteraction : false,
				loop: true, // 循环模式选项
				prevButton: '.swiper-button-prev-1',
				nextButton: '.swiper-button-next-1',

				slidesPerView: 3,
				loopedSlides: 7,

				pagination: '.swiper-pagination-1', //分页器
			})

			var mySwiper2 = new Swiper('.swiper-container-2', {
				autoplay: 2000,
				loop: true, // 循环模式选项
				prevButton: '.swiper-button-prev-2',
				nextButton: '.swiper-button-next-2',

				slidesPerView: 3,
				loopedSlides: 7,

				pagination: '.swiper-pagination-2', //分页器
			})

			var mySwiper3 = new Swiper('.swiper-container-3', {
				autoplay: 2000,
				loop: true, // 循环模式选项
				prevButton: '.swiper-button-prev-3',
				nextButton: '.swiper-button-next-3',

				slidesPerView: 3,
				loopedSlides: 7,

				pagination: '.swiper-pagination-3', //分页器
			})

			var mySwiper4 = new Swiper('.swiper-container-4', {
				autoplay: 2000,
				loop: true, // 循环模式选项
				prevButton: '.swiper-button-prev-4',
				nextButton: '.swiper-button-next-4',

				slidesPerView: 3,
				loopedSlides: 7,

				pagination: '.swiper-pagination-4', //分页器
			})

			var mySwiper5 = new Swiper('.swiper-container-5', {
				autoplay: 2000,
				loop: true, // 循环模式选项
				prevButton: '.swiper-button-prev-5',
				nextButton: '.swiper-button-next-5',

				slidesPerView: 3,
				loopedSlides: 7,

				pagination: '.swiper-pagination-5', //分页器
			})

			var mySwiper6 = new Swiper('.swiper-container-6', {
				autoplay: 2000,
				loop: true, // 循环模式选项
				prevButton: '.swiper-button-prev-6',
				nextButton: '.swiper-button-next-6',

				slidesPerView: 3,
				loopedSlides: 7,

				pagination: '.swiper-pagination-6', //分页器
			})

			//点击tab切换对应图片
			$(".tab-item").click(function() {
				var index = $(this).index();

				$(this).find("span").addClass("active").parent().siblings().find("span").removeClass("active");
				$(".tab-content-wrap .tab-content").eq(index).show().siblings().hide();

				if ($(this).index() == 0) {
					$(this).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_2.png");

					$(".tab-item").eq(1).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_4.png");
					$(".tab-item").eq(2).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_6.png");
					$(".tab-item").eq(3).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_8.png");
					$(".tab-item").eq(4).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_10.png");
				} else if ($(this).index() == 1) {
					$(this).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_5.png");

					$(".tab-item").eq(0).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_3.png");
					$(".tab-item").eq(2).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_6.png");
					$(".tab-item").eq(3).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_8.png");
					$(".tab-item").eq(4).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_10.png");

				} else if ($(this).index() == 2) {
					$(this).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_7.png");

					$(".tab-item").eq(0).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_3.png");
					$(".tab-item").eq(1).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_4.png");
					$(".tab-item").eq(3).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_8.png");
					$(".tab-item").eq(4).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_10.png");
				} else if ($(this).index() == 3) {
					$(this).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_9.png");

					$(".tab-item").eq(0).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_3.png");
					$(".tab-item").eq(1).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_4.png");
					$(".tab-item").eq(2).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_6.png");
					$(".tab-item").eq(4).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_10.png");
				} else if ($(this).index() == 4) {
					$(this).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_11.png");

					$(".tab-item").eq(0).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_3.png");
					$(".tab-item").eq(1).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_4.png");
					$(".tab-item").eq(2).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_6.png");
					$(".tab-item").eq(3).find("img").attr("src",
						"https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pangaoshouNew/1_8.png");
				}

			})

			//点击显示banner
			$("#product-title-1").click(function() {
				$(".swiper-container-1").slideToggle(function() {
					mySwiper1.update();
				});
			})

			$("#product-title-2").click(function() {
				$(".swiper-container-2").slideToggle();
				mySwiper2.update();
			})

			$("#product-title-3").click(function() {
				$(".swiper-container-3").slideToggle();
				mySwiper3.update();
			})

			$("#product-title-4").click(function() {
				$(".swiper-container-4").slideToggle();
				mySwiper4.update();
			})

			$("#product-title-5").click(function() {
				$(".swiper-container-5").slideToggle();
				mySwiper5.update();
			})

			$("#product-title-6").click(function() {
				$(".swiper-container-6").slideToggle();
				mySwiper6.update();
			})
			// 乳钙
			$(".milkCalcium").click(function() {
				$(".cover-1").show();
			})

			//果蔬高钙
			$(".fruit-calcium").click(function() {
				$(".cover-2").show();
			})

			//果蔬铁
			$(".fruit-iron").click(function() {
				$(".cover-3").show();
			})

			//DHA
			$(".fruit-iron").click(function() {
				$(".cover-3").show();
			})

			//DHA藻油
			$(".DHA").click(function() {
				$(".cover-4").show();
			})

			//富锌酵母
			$(".yeast").click(function() {
				$(".cover-5").show();
			})

			// 关闭弹窗
			$(".close-1").click(function() {
				$(".cover-1").hide();
			})

			$(".close-2").click(function() {
				$(".cover-2").hide();
			})

			$(".close-3").click(function() {
				$(".cover-3").hide();
			})

			$(".close-4").click(function() {
				$(".cover-4").hide();
			})

			$(".close-5").click(function() {
				$(".cover-5").hide();
			})
		</script>
	</body>
</html>
