<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=750,user-scalable=no">
  <title></title>
  <script src=/pafeiteShop/static/js/jquery-3.2.1.min.js></script>
  <script src=/pafeiteShop/static/js/utf.js></script>
  <script src=/pafeiteShop/static/js/jquery.qrcode.js></script>
  <script src=/pafeiteShop/static/js/html2canvas.min.js></script>
  <style>
    .swiper-pagination-bullet {

      width: 16px !important;
      height: 16px !important;

      background: #000 !important;
    }

    .swiper-pagination-bullet-active {
      width: 16px !important;
      height: 16px !important;

      background: #fff !important;
    }

    .area_ctrl {
      font-size: 24px !important;
    }
  </style>
  <link href=/pafeiteShop/static/css/app.c00b6e227a7ea06762b6dfb060435261.css rel=stylesheet>
</head>

<body style="display: none;">
  <div id=app></div>
  <script>$(function () {
      // 输入框失去焦点兼容苹果系统
      $('#app').on('blur', 'input,textarea,select', function () {
        setTimeout(function () {
          var hasFocus = $('input').is(':focus') || $('textarea').is(':focus') || $('select').is(':focus');
          if (!hasFocus) {
            window.scroll(0, 0);
          }
        }, 100);
      });


      // document.addEventListener(
      //   "WeixinJSBridgeReady",
      //   function onBridgeReady() {
      //     WeixinJSBridge.call("hideOptionMenu");
      //   }
      // );

    })</script>
  <script type=text/javascript src=/pafeiteShop/static/js/manifest.22964bdaa846ee18d099.js></script>
  <script type=text/javascript src=/pafeiteShop/static/js/vendor.e71994a10860d14e378d.js></script>
  <script type=text/javascript src=/pafeiteShop/static/js/app.86173bb3a9f315cb87e2.js></script>
</body>

</html>