<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=640, user-scalable=no">		
		<title></title>
		<link rel="stylesheet" type="text/css" href="/aijiade/css/index.css"/>
		
	</head>
	<body>
		<div class="container">
			<img class="img1" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/aijiade/1_4.png" >
			<img class="img2" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/aijiade/1_3.png" >			
			<img class="img3" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/aijiade/1_2.png" >
			<img class="img4" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/aijiade/1_1.png" >
			<div class="footer">湖南爱嘉德玉新材料科技推广有限公司</div>
			
			<div class="tc">
				<div class="yc">
					<img class="img5" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/aijiade/2_3.png" >
					<img class="img6" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/aijiade/2_2.png" >
					<img class="img7" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/aijiade/2_1.png" >
					<div class="text">长按进入公众号,进入防伪查询</div>
				</div>
			</div>
		</div>
		
		
	</body>
	

	<script src="/aijiade/js/lib/jquery-2.2.2.min.js"></script>

	
	<script>
		$(".img3").click(function(){
			$(".tc").fadeIn();
		})
		
		
		$(".img7").click(function(){
			$(".tc").fadeOut();
		})
	</script>
</html>
