<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=750, user-scalable=no">
	<title>溯源结果</title>
	<link rel="stylesheet" type="text/css" href="/nantongxingxiang/css/productInfo.css" />

</head>

<body>

	<div class="container">
		<div class="header">
			<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/nantongxingxiang/3_5.png">
		</div>

		<div class="conimg">
			<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/nantongxingxiang/3_1.png">
			<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/nantongxingxiang/3_2.png">
		</div>

		<div class="companyinfo">
			<div class="companyinfo-left">

				<div class="companyinfo-title">
					该产品由南通兴翔摩擦机电有限公司生产
				</div>
				<div class="companyinfo-con">
					<div class="companyinfo-con-key">扫码位置</div>
					<div class="companyinfo-con-value">广东省深圳市宝安区</div>
				</div>
				<div class="companyinfo-con">
					<div class="companyinfo-con-key">扫码时间</div>
					<div class="companyinfo-con-value">2020.05.12 14:30:15</div>
				</div>
			</div>
			<div class="companyinfo-right">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/nantongxingxiang/3_3.png">
			</div>
		</div>


		<div class="about">
			<div class="about-title">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/nantongxingxiang/3_4.png">
			</div>

			<div class="about-info">
				<div class="about-info-key">公司名称</div>
				<div class="about-info-valuea">南通兴翔摩擦机电有限公司</div>
			</div>

			<div class="about-info">
				<div class="about-info-key">公司地址</div>
				<div class="about-info-value">江苏省启东市近海工业园区</div>
			</div>

			<div class="about-info">
				<div class="about-info-key">联系电话</div>
				<div class="about-info-valuea">0518-83269238</div>
			</div>
		</div>
	</div>
</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>
<%-include("../../include/hideMenu") %>
<!-- 公共js end -->




<script>



</script>

</html>