.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
/* 新增一些iPhone下不兼容的动画库 */
/*
 * 1.从左向右出动画
*/
@-webkit-keyframes left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes left {
  0% {
    opacity: 0;
    -o-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 2.从右向左出动画
*/
@-webkit-keyframes right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes right {
  0% {
    opacity: 0;
    -moz-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes right {
  0% {
    opacity: 0;
    -o-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 3.从上向下出动画
*/
@-webkit-keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes down {
  0% {
    opacity: 0;
    -moz-transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes down {
  0% {
    opacity: 0;
    -o-transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 4.从下往上出动画
*/
@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes up {
  0% {
    opacity: 0;
    -moz-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes up {
  0% {
    opacity: 0;
    -o-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 5.上下浮动动画1
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown1 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}
@-moz-keyframes upDown1 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}
@-o-keyframes upDown1 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(10px);
  }
}
/*
 * 6.上下浮动动画2
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown2 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-moz-keyframes upDown2 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-o-keyframes upDown2 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(20px);
  }
}
/*
 * 7.上下浮动动画3
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown3 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
  }
}
@-moz-keyframes upDown3 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
  }
}
@-o-keyframes upDown3 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(30px);
  }
}
/*
 * 8.左右浮动动画1
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight1 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes leftRight1 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
@-o-keyframes leftRight1 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(10px);
  }
}
/*
 * 9.左右浮动动画2
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight2 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
  }
}
@-moz-keyframes leftRight2 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
  }
}
@-o-keyframes leftRight2 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(20px);
  }
}
/*
 * 10.左右浮动动画3
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight3 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
  }
}
@-moz-keyframes leftRight3 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
  }
}
@-o-keyframes leftRight3 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(30px);
  }
}
@-webkit-keyframes shakeAni {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
#app .container {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  /*背景*/
}
#app .container img {
  display: block;
}
#app .container .container-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
#app .container .container-bg img {
  display: block;
  width: 100%;
  height: 100%;
}
#app .container .content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  /*模块*/
}
#app .container .content .con {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
}
#app .container .content .con1 .shake-prompt {
  position: absolute;
  left: 0;
  top: 50px;
}
#app .container .content .con1 .shake-btn {
  position: absolute;
  left: 25%;
  bottom: 80px;
  z-index: 15;
  width: 50%;
}
#app .container .content .con2 {
  display: none;
  background: rgba(0, 0, 0, 0.7);
}
#app .container .content .con2 .shake-prompt {
  position: absolute;
  left: 5%;
  top: 70px;
  width: 90%;
  animation: shakeAni 2s linear infinite;
  -webkit-animation: shakeAni 2s linear infinite;
}
#app .container .content .con2 .shake-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#app .container .content .con3,
#app .container .content .con4 {
  display: none;
  background: rgba(0, 0, 0, 0.7);
}
#app .container .content .con3 .shake-result-wra,
#app .container .content .con4 .shake-result-wra {
  position: absolute;
  left: 0;
  bottom: 340px;
  z-index: 10;
  width: 100%;
}
#app .container .content .con3 .shake-result-wra .shake-result-img,
#app .container .content .con4 .shake-result-wra .shake-result-img {
  margin: 0 auto;
  width: 60%;
  animation: down 0.8s ease both;
  -webkit-animation: down 0.8s ease both;
}
#app .container .content .con3 .shake-result-wra .shake-result-text-wra,
#app .container .content .con4 .shake-result-wra .shake-result-text-wra {
  position: absolute;
  left: 29%;
  top: 160px;
  z-index: 1;
  width: 43%;
  height: 110px;
  text-align: center;
  color: #dd4e40;
  font-size: 30px;
  box-sizing: border-box;
  animation: fadeIn 0.8s 0.3s ease both;
  -webkit-animation: fadeIn 0.8s 0.3s ease both;
}
#app .container .content .con3 .shake-result-wra .shake-result-text-wra .shake-result-text,
#app .container .content .con4 .shake-result-wra .shake-result-text-wra .shake-result-text {
  font-size: 50px;
  font-weight: bold;
}
#app .container .content .con3 .withdraw-btn,
#app .container .content .con4 .withdraw-btn,
#app .container .content .con3 .lxcy-person-center-btn,
#app .container .content .con4 .lxcy-person-center-btn {
  position: absolute;
  left: 20%;
  bottom: 220px;
  width: 60%;
  animation: up 0.8s 0.6s ease both;
  -webkit-animation: up 0.8s 0.6s ease both;
}
#app .container .content .con3 .lxcy-person-center-btn,
#app .container .content .con4 .lxcy-person-center-btn {
  display: block;
}
#app .container .content .con3 .lxcy-person-center-btn img,
#app .container .content .con4 .lxcy-person-center-btn img {
  display: block;
  width: 100%;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
}
.loading .loadCon {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
}
.loading .loadCon img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: load 4s linear infinite;
}
.loading .loadCon #percent {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 150px;
  font-size: 24px;
}
