.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
/* 新增一些iPhone下不兼容的动画库 */
/*
 * 1.从左向右出动画
*/
@-webkit-keyframes left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes left {
  0% {
    opacity: 0;
    -o-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 2.从右向左出动画
*/
@-webkit-keyframes right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes right {
  0% {
    opacity: 0;
    -moz-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes right {
  0% {
    opacity: 0;
    -o-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 3.从上向下出动画
*/
@-webkit-keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes down {
  0% {
    opacity: 0;
    -moz-transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes down {
  0% {
    opacity: 0;
    -o-transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 4.从下往上出动画
*/
@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes up {
  0% {
    opacity: 0;
    -moz-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes up {
  0% {
    opacity: 0;
    -o-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 5.上下浮动动画1
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown1 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}
@-moz-keyframes upDown1 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}
@-o-keyframes upDown1 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(10px);
  }
}
/*
 * 6.上下浮动动画2
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown2 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-moz-keyframes upDown2 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-o-keyframes upDown2 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(20px);
  }
}
/*
 * 7.上下浮动动画3
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown3 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
  }
}
@-moz-keyframes upDown3 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
  }
}
@-o-keyframes upDown3 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(30px);
  }
}
/*
 * 8.左右浮动动画1
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight1 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes leftRight1 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
@-o-keyframes leftRight1 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(10px);
  }
}
/*
 * 9.左右浮动动画2
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight2 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
  }
}
@-moz-keyframes leftRight2 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
  }
}
@-o-keyframes leftRight2 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(20px);
  }
}
/*
 * 10.左右浮动动画3
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight3 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
  }
}
@-moz-keyframes leftRight3 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
  }
}
@-o-keyframes leftRight3 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(30px);
  }
}
@-webkit-keyframes shakeAni {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
#app .container {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .container .content {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/hongding/1_4.png') no-repeat;
  background-size: 100% 100%;
}
#app .container .content .logo {
  position: absolute;
  left: 3%;
  top: 2%;
  z-index: 1;
}
#app .container .content .title {
  position: absolute;
  left: 8%;
  top: 46%;
  z-index: 1;
  width: 84%;
}
#app .container .content .lottery-btn {
  position: absolute;
  left: 28%;
  bottom: 12%;
  z-index: 1;
  width: 44%;
  -webkit-animation: scale 0.8s linear alternate infinite;
}
#app .container .content-1 {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: url('https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/hongding/2_3.png') no-repeat;
  background-size: 100% 100%;
}
#app .container .content-1 .logo {
  position: absolute;
  left: 3%;
  top: 2%;
  z-index: 1;
}
#app .container .content-1 .wave-hand {
  width: 467px;
  height: 492px;
  position: relative;
  top: 180px;
  left: 50%;
  background: url('https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/hongding/2_2.png') no-repeat;
  -webkit-transform: translateX(-50%);
}
#app .container .content-1 .wave-hand .hand-left {
  position: absolute;
  top: 95px;
  left: -90px;
}
#app .container .content-1 .wave-hand .hand-center {
  position: absolute;
  top: 95px;
  left: -90px;
  z-index: 99;
}
#app .container .content-1 .wave-hand .hand-right {
  position: absolute;
  top: 95px;
  left: -90px;
}
#app .container .content-1 .wave-hand .wave-content {
  position: relative;
  top: 540px;
  font-size: 28px;
  font-weight: bold;
  color: #e13122;
  text-align: center;
}
#app .container .tip {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#app .container .tip .tip-con {
  width: 90%;
  height: 550px;
  background: url('https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/hongding/3_3.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
}
#app .container .tip .tip-con .erweima {
  position: relative;
  top: 150px;
  left: 160px;
}
#app .container .tip .tip-con .tip-content {
  position: relative;
  top: 140px;
  text-align: center;
  font-size: 24px;
}
#app .container .tip .tip-con .know {
  position: relative;
  top: 160px;
  left: 160px;
}
#app .container .lottery-win {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#app .container .lottery-win .lottery-con {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 550px;
  height: 689px;
  padding-top: 68px;
  margin: auto;
  background: url('https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/hongding/4_1.png') no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}
#app .container .lottery-win .lottery-con .winPrize {
  display: none;
}
#app .container .lottery-win .lottery-con .noPrize {
  display: none;
  text-align: center;
}
#app .container .lottery-win .lottery-con .noPrize .lottery-title1 {
  width: 100%;
  font-size: 46px;
  font-weight: bold;
  color: #a96711;
  line-height: 92px;
  text-align: center;
}
#app .container .lottery-win .lottery-con .scanCode {
  display: none;
  text-align: center;
}
#app .container .lottery-win .lottery-con .scanCode .lottery-title {
  color: #f82a2a;
}
#app .container .lottery-win .lottery-con .lottery-title {
  width: 100%;
  font-size: 46px;
  font-weight: bold;
  color: #a96711;
  line-height: 92px;
  text-align: center;
}
#app .container .lottery-win .lottery-con .lottery-dec {
  display: none;
}
#app .container .lottery-win .lottery-con .lottery-dec1 {
  margin-top: 30px;
}
#app .container .lottery-win .lottery-con .lottery-dec1 .num {
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  color: #fa5855;
  font-weight: bold;
}
#app .container .lottery-win .lottery-con .lottery-dec1 .num span {
  display: inline-block;
  font-size: 50px;
}
#app .container .lottery-win .lottery-con .lottery-dec1 .num .coin {
  font-size: 28px;
  color: #a96711;
}
#app .container .lottery-win .lottery-con .lottery-dec1 .lottery-text {
  width: 80%;
  margin: 14px auto 0 auto;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: #fa5855;
  cursor: pointer;
}
#app .container .lottery-win .lottery-con .lottery-dec2 {
  margin-top: 30px;
}
#app .container .lottery-win .lottery-con .lottery-dec2 .cry-img {
  display: block;
  margin: 0 auto;
}
#app .container .lottery-win .lottery-con .code-wra {
  position: absolute;
  left: 0;
  bottom: 62px;
  z-index: 1;
  width: 100%;
}
#app .container .lottery-win .lottery-con .code-wra .code {
  display: block;
  width: 268px;
  height: 253px;
  margin: 0 auto;
}
#app .container .lottery-win .lottery-con .code-wra .code-text {
  font-size: 18px;
  text-align: center;
  color: #989a99;
}
#app .container .lottery-win .lottery-con .close-lottery {
  position: absolute;
  top: -93px;
  right: 32px;
  z-index: 10;
  cursor: pointer;
}
.loading {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.loading .loadCon {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.loading .loadCon img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  -webkit-animation: load 4s linear infinite;
}
.loading .loadCon #percent {
  font-size: 24px;
  line-height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  text-align: center;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
  }
}
