<link rel="stylesheet" href="/common/css/loading.css" />
<div class="loading-wrapper" id="loadingWrapper">
	<div class="loading-container">
		<div class="loading-con">
			<i class="icon"></i>
			<div class="text"><%= loadingTip %></div>
		</div>
	</div>
</div>