<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=750, user-scalable=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/jiujiuyiyuan/css/index.css" />

</head>

<body>

	<!--加载页-->
	<div class="loading">
		<div class="loadCon">
			<img src="/jiujiuyiyuan/images/loading.png">
			<div id="percent">1%</div>
		</div>
	</div>


	<div class="container">
		<div class="logotext">
			<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/jiujiuyiyuan/1_1_1.png" alt=""
				srcset="">
		</div>

		<div class="logo">
			<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/jiujiuyiyuan/1_7.png" alt="">
		</div>


		<div class="con">

			<div class="con-desc" id="productDesc">

			</div>

		</div>
		<div class="inp">
			<input type="text" placeholder="请输入验证码">
		</div>




		<div class="detail">
			查询ID
		</div>

		<div class="footer"></div>

		<%-include("../../include/loading", {loadingTip: '正在加载中'}) %>
	</div>

	<!-- 隐藏页 -->
	<div class="containera">
		<div class="logotext">
			<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/jiujiuyiyuan/1_1_1.png" alt=""
				srcset="">
		</div>
		<div class="logo">
			<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/jiujiuyiyuan/1_2.png" alt="">
		</div>

		<div class="logotext2">
			<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/jiujiuyiyuan/1_3_1.png" alt="">
		</div>

		<div class="con">
			<div class="con-title">
				您所查询的是:<br />
				國際茶葉收藏家俱樂部有限公司出品<br />
				的普洱餅茶<span>《玖玖逸韻》</span>
			</div>

			<div class="con-text">

				<div class="con-text-item">
					<div class="key">
						查询次数：
					</div>

					<div class="value">
						<span id='checkStatus'>1</span>次
					</div>
				</div>

				<div class="con-text-item">
					<div class="key">
						查询时间：
					</div>

					<div class="value" id='validateDate'>
						2020年3月19日 12:30:33
					</div>
				</div>

				<div class="con-text-item address">
					<div class="key">
						查询地点：
					</div>

					<div class="value" id="city">
						广东深圳
					</div>
				</div>

			</div>



			<div class="con-detail">


			</div>
		</div>

		<div class="footer"></div>


	</div>
</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>
<%-include("../../include/hideMenu") %>
<!-- 公共js end -->

<script src="/jiujiuyiyuan/scripts/api.js"></script>
<script src="/jiujiuyiyuan/scripts/Func.js"></script>
<script src="/jiujiuyiyuan/scripts/lib/jweixin-1.0.0.js"></script>

<script>

	// 禁止整个页面滑动
	// $('.container').on('touchmove', function (e) {
	// 	e.preventDefault();
	// });


	// alert(null + null == 0)
	/**加载进度*/
	common.loading($("#percent"));


	window.onload = function () {
		$('.loading').hide();
		$('.container').fadeIn();
	};

	// 输入框失去焦点兼容苹果系统
	$('.container').on('blur', 'input,textarea,select', function () {
		setTimeout(function () {
			var hasFocus = $('input').is(':focus') || $('textarea').is(':focus') || $('select').is(':focus');
			if (!hasFocus) {
				window.scroll(0, 0);
			}
		}, 100);
	});

	var winHeight = $(window).height();   //获取当前页面高度
	// $(window).resize(function () {
	//     var thisHeight = $(this).height();
	//     if (winHeight - thisHeight > 50) {
	//         //当软键盘弹出，在这里面操作
	//     } else {
	//         //当软键盘收起，在此处操作
	//         window.scroll(0,0);
	//     }
	// });



	$('.detail').on('click', function () {

		var validateCode = $('.inp input').val();

		if (validateCode != '') {

			$('#loadingWrapper').show();
			$.ajax({
				url: api.validate,
				type: 'GET',
				dataType: 'json',
				data: {
					companyId: getHeader().cpi,
					validateCode: validateCode
				},
				headers: getHeader(),
				success: function (res) {
					if (res.code == 200) {
						if (res.data.checkStatus == 0) {
							common.alert({
								mask: true,
								content: '请输入正确的验证码'
							})
						} else {
							$('#checkStatus').html(res.data.validateTime);

							if (res.data.province == null || res.data.province == '') {
								$('.address').remove()
							} else {
								$('#city').html(res.data.province + res.data.city);

							}

							$('#validateDate').html(formatDateTime(new Date(res.data.validateDate)))
							$('.container').hide();
							$('.containera').fadeIn();
						}

					} else {
						common.alert({
							mask: true,
							content: res.msg
						})
					}

					$('#loadingWrapper').hide();
				},
				error: function (res) {
					common.alert({
						mask: true,
						content: res.msg
					})

					$('#loadingWrapper').hide();
				}
			});
		} else {
			common.alert({
				mask: true,
				content: '请输入验证码'
			})
		}



	})


	$.ajax({
		url: api.findEncodeFunction,
		type: 'GET',
		dataType: 'json',
		headers: getHeader(),
		success: function (res) {
			var html = '';

			if (res.code == 200) {
				data = res.data.productRecord;

				productDesc = res.data.productDesc;
				var jsonPropArr = data.productJson;
				//循环字体					
				for (key in jsonPropArr) {
					html += '<div class="con-detail-item">';
					html += '<div class="key">' + key + '：</div>';

					html += '<div class="value" >' + jsonPropArr[key] + '</div>';
					html += '</div>';
				}
				$('.con-detail').html(html);

				$("#productDesc").html(productDesc)

			} else {
				common.alert({
					mask: true,
					content: res.msg
				})
			}
		},
		error: function (res) {
			common.alert({
				mask: true,
				content: res.msg
			})
		}
	});



	function formatDateTime(inputTime) {
		var date = new Date(inputTime);
		var y = date.getFullYear();
		var m = date.getMonth() + 1;
		m = m < 10 ? ('0' + m) : m;
		var d = date.getDate();
		d = d < 10 ? ('0' + d) : d;
		var h = date.getHours();
		h = h < 10 ? ('0' + h) : h;
		var minute = date.getMinutes();
		var second = date.getSeconds();
		minute = minute < 10 ? ('0' + minute) : minute;
		second = second < 10 ? ('0' + second) : second;
		return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
	};
</script>


</html>