<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/benyi/css/gulijin.css" />
    <link rel="stylesheet" type="text/css" href="/benyi/scripts/plug/swiper-3.3.1.min.css" />
</head>

<body>
    <div class="container">
        <div class="header"></div>

        <div class="content" id="scrollW">
            <div class="wrapper">
                <div class="list" id="list">

                </div>
                <div class="loadText" id="loading">上滑加载更多</div>
            </div>
        </div>

        <div class="tfooter"></div>

        <!-- 领取鼓励金 -->
        <div class="lqlp">
            <div class="lqlp-con">
                <div class="lqlp-con-header">
                    领取成功
                </div>
                <div class="lqlp-con-bottom">
                    领取鼓励金成功
                </div>
            </div>
        </div>
    </div>

    <div class="containera">
        <div class="con">
            <img src="/benyi/images/8_1.png" alt="">
            <div class="con-txt">您暂时没有鼓励金哦!</div>

        </div>
    </div>



    <!-- 是否关注公众号-->
    <div class="gzhtc">
        <div class="gzhtc-con">

            <div class="gzhtc-con-img"><img src="/benyi/images/1_36.png" alt=""></div>
            <div class="gzhtc-con-text">

                <p>检测到您尚未关注公众号</p>
                <p>请长按识别关注公众号后再扫码获取红包</p>
            </div>
        </div>
        <div class="gzhtc-gb">
            <img src="/benyi/images/5_1.png" alt="">
        </div>
    </div>
</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>
<%-include("../../include/hideMenu") %>
<!-- 公共js end -->

<script src="/benyi/scripts/api.js"></script>
<script src="/benyi/scripts/Func.js"></script>
<script src="/benyi/scripts/lib/jweixin-1.0.0.js"></script>

<script type="text/javascript" src="/benyi/scripts/plug/swiper-3.3.1.jquery.min.js"></script>

<script src="/benyi/scripts/lib/bscroll.js"></script>

<script src="/benyi/scripts/gulijin.js"></script>

<script>

    var scroll = new BScroll('#scrollW', {
        scrollbar: {
            fade: true
        },
        click: true,
        pullUpLoad: {
            threshold: 0
        }
    });

    var doc = $(document);

    $(function () {
        main.init();

        $('#container').on("touchmove", function (e) {
            e.preventDefault();
        });

        doc.on('click', '.back', function () {
            window.history.back();
        });
    });
</script>

</html>