<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=750, user-scalable=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/benyi/css/index.css" />
	<link rel="stylesheet" type="text/css" href="/benyi/scripts/plug/swiper-3.3.1.min.css" />
</head>

<body>

	<!--加载页-->
	<!-- 		<div class="loading">
			<div class="loadCon">
				<img src="/benyi/images/loading.png">
				<div id="percent">1%</div>
			</div>
		</div> -->


	<div class="container">
		<div class="header">

			<div class="header-left"><img src="/benyi/images/1_10.png" alt=""></div>
			<div class="header-middel">
				<h2>丹姿水密码乳液</h2>
				<p>风险预警：该产品扫码次数异常</p>
				<p>若此产品为首次开封扫码,请在“查看详情”中反馈</p>
			</div>
			<div class="header-right">
				<a href=""><img src="/benyi/images/1_5.png" alt=""></a>
			</div>

			<!-- 领奖 -->
			<div class="lj">
				<div class="lj-top">
					<div class="lj-top-left"><img src="/benyi/images/1_7.png" alt=""></div>
					<div class="lj-top-right">我是夏天的西瓜</div>
				</div>

				<div class="lj-bottom">
					<div class="lj-bottom-left">
						<span>1.00</span>元
					</div>
					<div class="lj-bottom-middel">

						<span>20.00</span>元
					</div>
					<div class="lj-bottom-right">
						<img src="/benyi/images/1_6.png" alt="">
						<p>请在24小时内领取</p>
					</div>
				</div>
			</div>
		</div>

		<div class="banner">
			<img src="/benyi/images/1_11.png" alt="">
		</div>

		<!-- 互动推广 -->
		<div class="hdtg">
			<div class="hdtg-header">
				<img class="hdtg-header-img" src="/benyi/images/1_12.png" alt="">
				<div class="hdtg-header-text">互动推广</div>
			</div>

			<!-- 领取新人红包 -->
			<div class="hdtg-middel">
				<a><img class="hdtg-middel-img" src="/benyi/images/1_13.png" alt=""></a>
			</div>

			<div class="hdtg-bottom">
				<div class="left">
					<a><img class="left-img" src="/benyi/images/1_15.png" alt=""></a>
				</div>
				<div class="right">

					<div class="right-text">今日剩余<span>1</span>次机会</div>
				</div>
			</div>
		</div>

		<!-- 签到 -->
		<div class="qd">
			<div class="qd-header">
				今日已有：<span>195454</span> 位会员签到
			</div>
			<div class="qd-img" >
				<a id='qiandao'>已签到</a>
				<img class="qd-img-img" src="/benyi/images/1_31.png" alt="">
			</div>


			<div class="qd-xyz">
				<div class="qd-xyz-left">幸运值</div>
				<div class="qd-xyz-middel">
					<!-- 进度条 -->
					<div></div>
					<img class="qd-img-img" src="/benyi/images/1_24.png" alt="">

				</div>
				<div class="qd-xyz-right">5/300</div>
			</div>

			<div class="qd-tex">
				<img class="qd-tex-img1" src="/benyi/images/1_34.png" alt="">
				<img class="qd-tex-img2" id='hdsm' src="/benyi/images/1_26.png" alt="">
				每连续签到7天即可参与大转盘抽奖(最高<span>88元</span>鼓励金等你来拿)
			</div>

			<div class="qd-ts">
				<img class="qd-ts-y" src="/benyi/images/1_27.png" alt="">
				<img class="qd-ts-bx1" src="/benyi/images/1_28.png" alt="">
				<img class="qd-ts-bx2" src="/benyi/images/1_28.png" alt="">
			</div>


			<div class="qd-bottom">
				已连续签到<span>1</span>天
			</div>
		</div>


		<!-- 游戏专区 -->

		<div class="yxzq">
			<div class="yxzq-header">
				<img class="yxzq-header-img" src="/benyi/images/1_20.png" alt="">
				<div class="yxzq-header-text">游戏专区</div>
			</div>

			<div class="yxzq-con">

				<a><img class="yxzq-con-img" src="/benyi/images/1_19.png" alt=""></a>
			</div>
		</div>


		<!-- 关注公众号 -->
		<div class="gzh">
			<img class="yxzq-con-img" src="/benyi/images/1_18.png" alt="">
			<p>关注本意公众号更多惊喜</p>
		</div>

		<div class="footer">
			<a href="/template/benyi/index" class="item-tab">
				<img  src="/benyi/images/1_1.png" alt="">
				<p>首页</p>
			</a>
			<a href="/template/benyi/grzx" class="item-tab">
				<img src="/benyi/images/1_3.png" alt="">
				<p>个人中心</p>
			</a>
		</div>
		<div class="tfooter"></div>


		<!-- 签到弹窗 -->

		<div class="qdtc">
			<div class="qdtc-con">
				<div class="qdtc-con-txt">获得<span>+6</span>幸运值</div>
				<a class="qdtc-con-btn" >领取</a>
			</div>
		</div>

		<!-- 活动说明弹窗 -->
		<div class="hdsm">
			<div class="hdsm-con">
				<img src="/benyi/images/5_2.png" alt="">
				
			</div>

			<div class="hdsm-qx">
				<img src="/benyi/images/5_1.png" alt="">
			</div>
		</div>
	</div>
</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>
<%-include("../../include/hideMenu") %>
<!-- 公共js end -->

<script src="/benyi/scripts/api.js"></script>
<script src="/benyi/scripts/Func.js"></script>
<script src="/benyi/scripts/lib/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/benyi/scripts/plug/swiper-3.3.1.jquery.min.js"></script>
<script>

	/* 活动说明弹窗 */
	// 打开活动说明
	$('#hdsm').on('click',function(){
		$('.hdsm').fadeIn()
	})
	//关闭活动说明
	$('.hdsm-qx').on('click',function(){
		$('.hdsm').fadeOut()
	})

	/* 签到弹窗 */
	$('#qiandao').on('click',function(){
		$('.qdtc').fadeIn()
	})	

	$('.qdtc-con-btn').on('click',function(){
		$('.qdtc').fadeOut()
	})

</script>

</html>