<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/benyi/css/xiazai.css" />
    <link rel="stylesheet" type="text/css" href="/benyi/scripts/plug/swiper-3.3.1.min.css" />
</head>

<body>

    <!--加载页-->
    <!-- 		<div class="loading">
			<div class="loadCon">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/benyi/loading.png">
				<div id="percent">1%</div>
			</div>
		</div> -->


    <div class="container">
        <div class="content">

            <a href="http://h5.wuyeka.cn/activity_dest/ditui_yq/dtu-undertake.html?pid=5&dtu=1000229"><img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/benyi/14_2.png" alt="" srcset=""></a>
        </div>
    </div>
</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>
<%-include("../../include/hideMenu") %>
<!-- 公共js end -->

<script src="/benyi/scripts/api.js"></script>
<script src="/benyi/scripts/Func.js"></script>
<script src="/benyi/scripts/lib/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/benyi/scripts/plug/swiper-3.3.1.jquery.min.js"></script>
<script>


</script>

</html>