<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/benyi/css/xiazai.css" />
    <link rel="stylesheet" type="text/css" href="/benyi/scripts/plug/swiper-3.3.1.min.css" />
</head>

<body>

    <!--加载页-->
    <!-- 		<div class="loading">
			<div class="loadCon">
				<img src="/benyi/images/loading.png">
				<div id="percent">1%</div>
			</div>
		</div> -->


    <div class="container">
        <div class="content">

            <a href="https://api-laxin.1sapp.com/dl/up?jump=http%3A%2F%2Fh5.wuyeka.cn%2Factivity_dest%2Fditui_yq%2Fdtu-index.html%3Fpid%3D5%26dtu%3D1000609"><img src="/benyi/images/14_2.png" alt="" srcset=""></a>
        </div>
    </div>
</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>
<%-include("../../include/hideMenu") %>
<!-- 公共js end -->

<script src="/benyi/scripts/api.js"></script>
<script src="/benyi/scripts/Func.js"></script>
<script src="/benyi/scripts/lib/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/benyi/scripts/plug/swiper-3.3.1.jquery.min.js"></script>
<script>


</script>

</html>