body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}
body {
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  color: #333;
  background: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
img {
  border: 0;
  cursor: pointer;
}
div {
  cursor: pointer;
}
input[type='text'],
input[type='password'],
input[type='submit'],
textarea,
button,
select {
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
body {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  background: #fff;
}
.clearFix:before,
.clearFix:after {
  display: table;
  content: ' ';
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.ellipsisNormal {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.btn-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  height: 80px;
  background: #fff;
  border-top: 1px solid #eee;
}
.btn-wrapper .btn-list {
  display: flex;
  width: 100%;
  padding: 17px 0;
}
.btn-wrapper .btn-list .item {
  flex: 1;
  line-height: 46px;
  border-left: 1px solid #ddd;
}
.btn-wrapper .btn-list .item:first-child {
  border-left: none;
}
.btn-wrapper .btn-list .item a {
  display: block;
  line-height: 46px;
  text-align: center;
  color: #f2513d;
  font-size: 28px;
  font-weight: 510;
}
.advertisement {
  position: relative;
  width: 100%;
  height: 120px;
  background: #f1f1f1;
}
.advertisement.fixed {
  position: absolute;
  bottom: 0;
}
.advertisement img {
  display: block;
  width: 100%;
  height: 100%;
}
html,
body {
  height: 100%;
}
.actLoading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 150px;
  z-index: 999;
}
.actLoading img {
  width: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
#app .container {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .container .erweima-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
}
#app .container .erweima-wrapper .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#app .container .erweima-wrapper .erweima-container {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -184px;
  margin-left: -185px;
  z-index: 1;
  width: 370px;
  height: 368px;
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/erweima_bg.png") no-repeat;
}
#app .container .erweima-wrapper .erweima-container.show {
  -webkit-animation: showEerweimaContainer 0.5s ease;
}
#app .container .erweima-wrapper .erweima-container .closeErweima-btn {
  position: absolute;
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/1_2.png") no-repeat;
}
#app .container .erweima-wrapper .erweima-container .erweima-title {
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  color: #fbd67d;
}
#app .container .erweima-wrapper .erweima-container .erweima {
  margin: 18px auto 0 auto;
  width: 166px;
  height: 166px;
  background: #ccc;
  border: 1px solid #ddd;
}
#app .container .erweima-wrapper .erweima-container .erweima img {
  width: 100%;
  height: 100%;
}
#app .container .erweima-wrapper .erweima-container .erweima-tip {
  margin-top: 17px;
  line-height: 30px;
  text-align: center;
  font-size: 22px;
  color: #f3513c;
}
#app .container .erweima-wrapper .erweima-container .close-btn {
  position: absolute;
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%);
  width: 66px;
  height: 66px;
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/1_4.png") no-repeat;
}
#app .container .main-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#app .container .iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 120px;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  display: none;
}
#app .container .iframe iframe {
  width: 100%;
  height: 100%;
}
#app .container .personsBtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  transform: translateY(-50%);
}
#app .container .awardInfor-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
  z-index: 99;
  display: none;
  overflow: hidden;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}
#app .container .awardInfor-wrapper .awardInfor-scroll {
  position: absolute;
  left: 0;
  top: 0;
  width: 5000%;
  line-height: 50px;
  font-size: 23px;
  color: #fef22c;
}
#app .container .awardInfor-wrapper .awardInfor-scroll .awardInfor-content {
  width: 100%;
}
#app .container .awardInfor-wrapper .awardInfor-scroll .awardInfor-content .awardInfor-scrollContent {
  position: absolute;
  top: 0;
  left: 0;
}
#app .container .awardInfor-wrapper .awardInfor-scroll .awardInfor-content .awardInfor-scrollContent span {
  margin: 0 30px;
}
#app .container .scroll-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 120px;
  left: 0;
  overflow: hidden;
}
#app .container .scroll-wrapper .wrapper {
  position: relative;
}
#app .container .scroll-wrapper .wrapper .bg {
  max-width: 100%;
}
#app .container .scroll-wrapper .wrapper.full {
  height: 100%;
}
#app .container .page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
#app .container .page .abs {
  position: absolute;
}
#app .container .page1 {
  z-index: 101;
}
#app .container .page1 .dzp-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
}
#app .container .page1 .dzp-wrapper .img1 {
  left: 0;
  top: 0;
}
#app .container .page1 .dzp-wrapper .dzp-container {
  position: absolute;
  left: 50%;
  top: 29%;
  transform: translateX(-50%);
  width: 439px;
  height: 439px;
}
#app .container .page1 .dzp-wrapper .dzp-container .dzp-con {
  width: 100%;
  height: 100%;
}
#app .container .page1 .dzp-wrapper .dzp-container .dzp-con .award-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  height: 390px;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
}
#app .container .page1 .dzp-wrapper .dzp-container .dzp-con .award-list .award-item {
  position: absolute;
  top: 0;
  left: 50%;
  width: 196px;
  height: 196px;
  background-color: rgba(0, 0, 0, 0);
  transform-origin: bottom center;
}
#app .container .page1 .dzp-wrapper .dzp-container .dzp-con .award-list .award-item .con {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 30px;
  line-height: 22px;
  text-align: center;
  font-size: 20px;
  text-shadow: 0px 2px 1px #000;
}
#app .container .page1 .dzp-wrapper .dzp-container .dzp-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#app .container .page1 .zjd-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
#app .container .page1 .zjd-wrapper .effect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
#app .container .page1 .zjd-wrapper .zjd-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 546px;
  height: 865px;
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/zjd/1_3.png") no-repeat;
}
#app .container .page1 .zjd-wrapper .zjd-container .selectMe-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#app .container .page1 .zjd-wrapper .zjd-container .selectMe-wrapper .select-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#app .container .page1 .zjd-wrapper .zjd-container .selectMe-wrapper .select-container div {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-result {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-result.vibration {
  animation: vibration 0.005s linear infinite alternate;
}
#app .container .page1 .zjd-wrapper .zjd-container .hammer {
  position: absolute;
  left: 252px;
  top: 252px;
  z-index: 999;
  display: none;
  width: 127px;
  height: 115px;
  transform-origin: right bottom;
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/zjd/2_1.png") no-repeat;
}
#app .container .page1 .zjd-wrapper .zjd-container .hammer.animate {
  animation: hammer 0.3s linear;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-wrapper {
  position: absolute;
  left: 0;
  top: 410px;
  width: 100%;
  height: 170px;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-wrapper .item {
  position: absolute;
  cursor: pointer;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-wrapper .item:nth-child(1) {
  left: 0;
  top: 51px;
  z-index: 3;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-wrapper .item:nth-child(2) {
  left: 74px;
  top: 24px;
  z-index: 2;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-wrapper .item:nth-child(3) {
  left: 150px;
  top: 6px;
  z-index: 1;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-wrapper .item:nth-child(4) {
  left: 224px;
  top: 0;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-wrapper .item:nth-child(5) {
  left: 305px;
  top: 6px;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-wrapper .item:nth-child(6) {
  left: 376px;
  top: 24px;
}
#app .container .page1 .zjd-wrapper .zjd-container .jd-wrapper .item:nth-child(7) {
  left: 447px;
  top: 51px;
}
#app .container .page1 .award-wrapper.show,
#app .container .page1 .result-wrapper.show {
  animation: show 0.5s ease;
}
#app .container .page1 .award-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
#app .container .page1 .award-wrapper .award-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 532px;
  height: 712px;
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/1_12.png") no-repeat;
}
#app .container .page1 .award-wrapper .award-container .avatar {
  width: 76px;
  height: 76px;
  margin: 0 auto;
  padding-top: 30px;
}
#app .container .page1 .award-wrapper .award-container .avatar img {
  width: 100%;
  height: 100%;
}
#app .container .page1 .award-wrapper .award-container .nickname {
  margin-top: 15px;
  line-height: 40px;
  text-align: center;
  font-size: 27px;
  color: #fee2ba;
}
#app .container .page1 .award-wrapper .award-container .award-tip {
  line-height: 50px;
  text-align: center;
  font-size: 23px;
  color: #fee2ba;
}
#app .container .page1 .award-wrapper .award-container .award-con {
  margin-top: 25px;
  line-height: 50px;
  text-align: center;
  font-size: 38px;
  color: #fee2ba;
}
#app .container .page1 .award-wrapper .award-container .open-awardBtn {
  width: 179px;
  height: 179px;
  margin: 20px auto 0 auto;
  cursor: pointer;
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/1_11.png") no-repeat;
  animation: scale 0.5s ease infinite alternate;
}
#app .container .page1 .award-wrapper .award-container .ad {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 30px;
}
#app .container .page1 .award-wrapper .award-container .ad .ads {
  width: 100%;
}
#app .container .page1 .result-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
#app .container .page1 .result-wrapper .result-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 532px;
  height: 712px;
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/1_14.png") no-repeat;
}
#app .container .page1 .result-wrapper .result-container .close-btn {
  position: absolute;
  left: 51px;
  top: 42px;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #000;
  font-size: 29px;
}
#app .container .page1 .result-wrapper .result-container .result-content {
  position: absolute;
  left: 50%;
  top: 178px;
  transform: translateX(-50%);
  width: 458px;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper {
  padding: 4px;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item {
  position: relative;
  width: 99%;
  height: 135px;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item.discount-coupon {
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/5_2_1.png") no-repeat;
  background-size: 100% 100%;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item.full-coupon {
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/5_5_1.png") no-repeat;
  background-size: 100% 100%;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item.exchange-coupon {
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/5_6_1.png") no-repeat;
  background-size: 100% 100%;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item .coupon-name {
  position: absolute;
  left: 30px;
  top: 49px;
  width: 78px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item .coupon-left {
  position: absolute;
  left: 103px;
  width: 142px;
  height: 124px;
  color: #fff;
  text-align: center;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item .coupon-left .coupon-con {
  width: 100%;
  line-height: 40px;
  padding-top: 13px;
  font-size: 35px;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item .coupon-left .coupon-con .unit {
  font-size: 17px;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item .coupon-left .coupon-desc {
  line-height: 24px;
  font-size: 17px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item .coupon-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 163px;
  height: 124px;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item .coupon-right .use-time {
  padding-top: 17px;
  line-height: 24px;
  text-align: center;
  font-size: 17px;
  color: #999999;
}
#app .container .page1 .result-wrapper .result-container .result-content .coupon-wrapper .coupon-list .item .coupon-right .coupon-code {
  margin-top: 33px;
  line-height: 24px;
  font-size: 17px;
  color: #222;
}
#app .container .page1 .result-wrapper .result-container .result-dan {
  width: 100%;
}
#app .container .page1 .result-wrapper .result-container .result-dan .result-con {
  position: relative;
  left: 50%;
  margin-top: 14px;
  transform: translateX(-50%);
  width: 436px;
  padding-bottom: 14px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 1px #ddd;
  overflow: hidden;
}
#app .container .page1 .result-wrapper .result-container .result-dan .result-con .ads {
  display: block;
  width: 100%;
}
#app .container .page1 .result-wrapper .result-container .result-dan .result-con .result-tip {
  line-height: 45px;
  padding-top: 9px;
  padding-left: 58px;
  font-size: 30px;
  font-weight: bold;
}
#app .container .page1 .result-wrapper .result-container .result-dan .result-con .result {
  line-height: 60px;
  text-align: center;
  font-size: 55px;
  color: #db291d;
}
#app .container .page1 .result-wrapper .result-container .result-dan .result-con .result .price-sign,
#app .container .page1 .result-wrapper .result-container .result-dan .result-con .result .unit {
  font-size: 24px;
}
#app .container .page1 .result-wrapper .result-container .result-dan .result-con .result .coupon-name {
  font-size: 33px;
}
#app .container .page1 .result-wrapper .result-container .result-dan .result-con .result-type {
  margin: 15px auto 0 auto;
  width: 155px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  background: #db291d;
  font-size: 21px;
}
#app .container .page1 .result-wrapper .result-container .result-dan .result-con .error-logo {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}
#app .container .page1 .result-wrapper .result-container .result-dan .card-tip {
  margin-top: 15px;
  margin-left: 15px;
  line-height: 50px;
  font-size: 27px;
  color: #cd8715;
  text-align: center;
}
#app .container .page1 .result-wrapper .result-container .result-double {
  position: relative;
  width: 100%;
  height: 370px;
}
#app .container .page1 .result-wrapper .result-container .result-double .couponScrollWrapper {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
}
#app .container .page1 .result-wrapper .result-container .result-double .up-sign {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  width: 37px;
  height: 29px;
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/up.png") no-repeat;
}
#app .container .page1 .result-wrapper .result-container .result-double .result-other {
  position: relative;
  width: 100%;
  height: 55px;
}
#app .container .page1 .result-wrapper .result-container .result-double .result-other .result-tip {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 55px;
  padding-left: 8px;
  font-size: 25px;
}
#app .container .page1 .result-wrapper .result-container .result-double .result-other .result-number {
  width: 100%;
  line-height: 55px;
  text-align: center;
  font-size: 30px;
}
#app .container .page1 .result-wrapper .result-container .result-double .result-other .result-type {
  position: absolute;
  right: 10px;
  top: 13px;
  width: 110px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  border-radius: 30px;
  background: #ef1d10;
  color: #fff;
  font-size: 20px;
}
#app .container .page1 .result-wrapper .result-container .get-awardBtn {
  position: absolute;
  top: 540px;
  left: 38%;
  display: block;
  width: 128px;
  height: 128px;
  background: url("https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/commonAct_1/images/5/1_13.png") no-repeat;
  animation: scale 0.5s ease infinite alternate;
}
#app .container .page1 .result-wrapper .result-container .get-awardBtn a {
  display: block;
  width: 100%;
  height: 100%;
}
#app .container .page1 .result-wrapper .result-container .toPerson {
  position: absolute;
  left: 50%;
  bottom: -72px;
  transform: translateX(-50%);
  display: block;
  width: 220px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50px;
  background: #f2513d;
  color: #fff;
  font-size: 25px;
}
.loading {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.loading .loadCon {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.loading .loadCon img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  -webkit-animation: load 4s linear infinite;
}
.loading .loadCon #percent {
  font-size: 24px;
  line-height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  text-align: center;
}
@-webkit-keyframes scale {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.1);
  }
}
@-webkit-keyframes show {
  from {
    opacity: 0;
    transform: scale(1.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes hammer {
  from {
    transform: rotate(60deg);
  }
  to {
    transform: scale(0deg);
  }
}
@-webkit-keyframes vibration {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}
