dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
select {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
  cursor: pointer;
}
body {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
.clearFix:after {
  content: " ";
  display: table;
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 24px;
}
body {
  background: #fff;
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  overflow: hidden;
}
.container .header {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  text-align: center;
}
.container .header .header-img img {
  height: 130px;
  width: 130px;
  border-radius: 130px;
  border: 4px #fff solid;
}
.container .nav {
  position: absolute;
  top: 500px;
  left: 0px;
  right: 0;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}
.container .nav span {
  height: 10px;
  border-right: 6px #cc4242 solid;
  border-radius: 30px;
  margin: 0px 10px 0px 30px;
}
.container .content {
  position: absolute;
  top: 540px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.container .content .scroll-wra {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .content .scroll-wra .loadText {
  text-align: center;
  line-height: 60px;
}
.container .content .content-item {
  display: block;
  margin: 0px 30px;
  padding: 20px 0px;
  display: flex;
  border-bottom: 1px #ddd solid;
}
.container .content .content-item .item-img {
  width: 15%;
  text-align: center;
  margin: auto;
}
.container .content .content-item .item-text {
  width: 65%;
}
.container .content .content-item .item-text .text2 {
  color: #bbb;
}
.container .content .content-item .item-btn {
  width: 20%;
  text-align: center;
  margin: auto;
}
.container .content .content-item .btncolor1 {
  color: #bbb;
}
.container .content .content-item .btncolor2 {
  color: #47328f;
}
.container .mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.container .mask .mask-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .mask .mask-con .mask-header {
  position: relative;
}
.container .mask .mask-con .mask-header img {
  display: block;
}
.container .mask .mask-con .mask-header .header-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  line-height: 100px;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 5px;
}
.container .mask .mask-con .mask-middel {
  text-align: center;
  background: #fff;
  padding: 50px 0px;
  border-radius: 0px  0px 20px 20px;
}
.container .mask .mask-con .mask-middel .middel-img {
  border: 1px #666 solid;
  width: 140px;
  height: 140px;
  line-height: 140px;
  margin: auto;
}
.container .mask .mask-con .mask-middel .middel-img img {
  vertical-align: middle;
}
.container .mask .mask-con .mask-middel .middel-text {
  margin-top: 30px;
}
.container .mask .mask-con .mask-middel .middel-text .text-name {
  font-size: 30px;
  font-weight: bold;
}
.container .mask .mask-con .mask-middel .middel-text .text-kd {
  display: flex;
  justify-content: center;
}
.container .mask .mask-con .mask-middel .middel-text .text-kd .text-img {
  margin: 0px 10px;
}
.container .mask .mask-con .mask-btn {
  text-align: center;
  margin-top: 50px;
}
