body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
  cursor: pointer;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
body {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.loading {
  line-height: 70px;
  text-align: center;
}
.header-back {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 70px;
  background: #d9341e;
}
.header-back .back-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  padding-left: 60px;
  height: 70px;
  line-height: 70px;
  color: #fff;
}
.header-back .back-icon .back {
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 10;
  display: block;
  line-height: 70px;
  font-size: 25px;
}
.header-back h3 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 70px;
  color: #fff;
  letter-spacing: 1px;
}
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
}
.wrapper .container {
  padding-top: 70px;
}
.wrapper .container .withdraw-content {
  padding: 0 40px;
  height: 95px;
  line-height: 95px;
  font-size: 25px;
  position: relative;
}
.wrapper .container .withdraw-content:before,
.wrapper .container .withdraw-content:after {
  content: " ";
  display: table;
}
.wrapper .container .withdraw-content:after {
  clear: both;
}
.wrapper .container .withdraw-content .withdraw-name {
  width: 370px;
  overflow: hidden;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wrapper .container .withdraw-content .withdraw-money {
  float: right;
}
.wrapper .container .withdraw-form {
  border-top: 6px solid #eeeeee;
  padding: 33px 40px 20px 40px;
  height: 55px;
}
.wrapper .container .withdraw-form:before,
.wrapper .container .withdraw-form:after {
  content: " ";
  display: table;
}
.wrapper .container .withdraw-form:after {
  clear: both;
}
.wrapper .container .withdraw-form .form-text {
  float: left;
  width: 325px;
  height: 42px;
  padding: 10px 20px;
  line-height: 42px;
  font-size: 23px;
  border: none;
  border-radius: 8px;
  background: #eeeeee;
  outline: none;
}
.wrapper .container .withdraw-form .form-submit {
  float: right;
  width: 145px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background: #d9341e;
  cursor: pointer;
}
.wrapper .container .withdraw-tip {
  padding: 0 40px;
  color: #6c6c6c;
  font-size: 24px;
}
.wrapper .personal-center {
  width: 400px;
  margin-top: 142px;
}
.wrapper .present-record {
  display: block;
  width: 400px;
  height: 62px;
  margin: 60px auto 0 auto;
  color: #d9341e;
  text-align: center;
  line-height: 58px;
  border: 2px solid #d9341e;
  border-radius: 40px;
  background: #fff;
  box-sizing: border-box;
}
.withdrawal-win {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.withdrawal-win .withdrawal-win-con {
  position: absolute;
  left: 10%;
  top: 50%;
  width: 80%;
  border-radius: 10px;
  background: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.withdrawal-win .withdrawal-win-con .withdrawal-win-tittle {
  padding-top: 40px;
  text-align: center;
  line-height: 94px;
}
.withdrawal-win .withdrawal-win-con .withdrawal-win-tittle .withdrawal-win-tittle-img {
  width: 70px;
  vertical-align: middle;
}
.withdrawal-win .withdrawal-win-con .withdrawal-win-tittle .withdrawal-win-tittle-text {
  margin-left: 20px;
  color: #818181;
  font-size: 30px;
  line-height: 94px;
}
.withdrawal-win .withdrawal-win-con .withdrawal-win-dec {
  width: 100%;
  padding: 20px 10px 30px 10px;
  color: #919191;
  text-align: center;
  box-sizing: border-box;
}
.withdrawal-win .withdrawal-win-con .withdrawal-win-btn {
  width: 100%;
  padding: 30px;
  font-size: 30px;
  color: #d9341e;
  text-align: center;
  border-top: 1px solid #cecece;
  box-sizing: border-box;
  cursor: pointer;
}
