<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=750, user-scalable=no">
	<link rel="stylesheet" href="/langyanFw/css/index.css" />
	<title></title>
</head>

<body>
	<div class="app">
		<div class="container">

			<img class="header" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/langyanFw/1_1.png"
				alt="">

			<!--验证次数-->
			<div class="num">第<span></span>次验证成功</div>

			<div class="title">购买的产品属于<span>「</span>狼烟天下<span>」</span>旗下产品<br />请放心使用</div>

			<div class="tip">获得<span id="point"></span>积分，进入积分商城可兑换产品</div>


			<a class="btn btn1">进入积分商城</a>
			<a class="btn btn2" style="display: none;">注册会员</a>


			<div class="prompt">
				未成年禁止进入!
			</div>
		</div>
	</div>

	<%-include('../../include/commonJs') %>
	<%-include("../../include/hideMenu") %>
	<!-- 公共js start -->


	<script src="/langyanFw/scripts/api.js"></script>
	<script src="/langyanFw/scripts/Func.js"></script>


	<script>
		$('.app').on('touchmove', function (e) {
			e.preventDefault();
		});

		$('.btn').on('click', function () {

			console.log(getHeader())
				//  /shop/index/1/ /qdwz/goods/index/1/
			// console.log( api.ip + `/shop/index/1/` + getHeader().cpi + `&csi=`+getHeader().csi + `&oi=`+getHeader().oi  )
			window.location.href = api.ip + `/shop/index/1/` + getHeader().cpi + `?csi=`+getHeader().csi + `&oi=`+getHeader().oi 
		})

		$(function () {

			Func.findRealEncodeFunction(function (res) {
				if (res.code == 200) {
					var valiCount = res.data.securityCheckRecord.valiCount;
					if (valiCount < 3) {
						var html = '第<span>' + valiCount + '</span>次验证成功';
					} else {
						var html = '多次验证成功';
					}
					if (valiCount >= 2) {
						$('.title').html('注意!该产品已被多次验证,<br/>请谨慎购买')
					}

					$('.num').html(html);
					checkUserMobile()
				} else {
					common.alert({
						mask: true,
						content: res.msg
					})
				}
			})

			//验证是否注册
			function checkUserMobile() {
				Func.checkUserMobile(function (res) {
					if (res.code == 200) {
						if (res.data.type == 1) {
							$('.btn2').show();

							$('.tip').text('您未注册会员，请先注册会员后再扫码即可领取积分');
						} else {
							$('.btn2').hide();
							createJoinActInfo()
						}

					}
				})
			}


			//查找活动参与记录
			function createJoinActInfo() {
				Func.createJoinActInfo(function (res) {
					if (res.code == 200) {
						lottery()
					} else if (res.code == 201) {
						$('.tip').text('该积分已被领取');
					} else if (res.code == 202) {
						//0未领奖 1已领奖 2领取失败	
						if (res.data.status == 0) {
							var point = res.data.prizeAmount;
							$('#point').text(point);
						} else if (res.data.status == 1) {
							$('.tip').text('该积分已被领取');
						}
					}else if(res.code ==203) {
						$('.tip').text('该积分已被领取');
					} else {
						common.alert({
							mask: true,
							content: res.msg
						})
					}
				})
			}

			//抽奖
			function lottery() {
				Func.lottery(api.lottery, function (reg) {
					if (reg.code == 200) {
						var point = reg.data.point.point;
						$('#point').text(point)
					} else {
						$('.tip').text('该积分已被领取')
					}
				})
			}


		})

	</script>
</body>

</html>