<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=750, user-scalable=no">
	<title></title>

	<link rel="stylesheet" href="/yifeinewmuban/css/index.css">

</head>

<body>

	<div class="container">

		<div class="title">
			亿菲润滑油，请给我一个购买你的理由！
		</div>

		<div class="desc">

			为了亿菲润滑油的品牌推广，为了增加您抽取大红包的概率，建议您转发该文章并积累更多的点赞，系统会给您更多惊喜⋯
		</div>

		<div class="content1">
			<div class="desc">
				A、亿菲润滑油是一个国际化的品牌，从中国到南美，从东南亚到非洲，每天亿菲都把优质的产品带到千千万万个家庭，我们的愿景是成为您身边优质的润滑专家。
			</div>

			<div class="img">
				<img src="/yifeinewmuban/img/1.jpg" alt="" srcset="">
			</div>
		</div>


		<div class="content2">

			<div class="desc">
				B、2018年8月，与世界前二十名摩托车厂家KAMAX泰国工厂和阿根廷工厂合作，为其摩托车厂家，提供优质的亿菲润滑油⋯
			</div>

			<div class="video">
				<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=c3002mevxko"
					allowFullScreen="true"></iframe>
			</div>
		</div>

		<div class="content3">

			<div class="desc">
				C、2017年7月，与中央电视台一套节目(全国最权威的央视）签署战略合作仪式⋯
			</div>

			<div class="img">
				<img src="/yifeinewmuban/img/2.jpg" alt="" srcset="">
			</div>

			<p>亿菲润滑油投放央视一台的宣传片</p>


			<div class="video">

				<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=p300249aa8i"
					allowFullScreen="true"></iframe>
			</div>
		</div>

		<div class="content4">

			<div class="desc">
				D、亿菲润滑油优异的抗磨性能⋯
			</div>

			<div class="video">
				<div class="video">
					<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=d300272ee72"
						allowFullScreen="true"></iframe>
					<!-- <video src="http://video.ivwen.com/users/73827050/3f25714a429d456ab355c5da7862735a.mp4"></video> -->
				</div </div> </div> <div class="content5">

				<div class="desc">
					E、红包营销活动是吸引消费者和谁修店主的法宝，通过红包扫码，让消费者，维修店主关注亿菲公众号，进行互动营销，使亿菲品牌对消费者产生粘性，记住亿菲品牌⋯
				</div>

				<div class="video">
					<iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=b3002jn9rem"
						allowFullScreen="true"></iframe>
				</div>

				<p>这是维修店主可以扫描的二维码，消费者扫描的在瓶上</p>


				<div class="img">
					<img src="/yifeinewmuban/img/3.jpg" alt="" srcset="">
				</div>
			</div>


			<div class="content6">

				<div class="desc">
					F、产品款式设计风格独特、新颖，在市场上脱颖而出，产品款式丰富，可选择性好⋯
				</div>

				<div class="img">
					<img src="/yifeinewmuban/img/4.jpg" alt="" srcset="">
				</div>

				<p>纸箱包装Logo烫银，12瓶精装，高端大气上档次，你不忍心把他弄坏⋯</p>
				<div class="img">
					<img src="/yifeinewmuban/img/5.jpg" alt="" srcset="">
				</div>
				<p>据数据统计：全国机油品牌有26000个以上，但真正做品牌的有几个？大部分是上半年一个品牌，下半年一个品牌，甚至更快，品牌生命周期三年的很少，所以认真做品牌的更少，用心做品牌的少之又少，但亿菲算一个，为了让品牌形象设计更加完美，我们对亿菲Logo进行以下诠释，我们是想把产品细节做的更好，因为细节决定成败，这样才能让品牌走得更远⋯
				</p>


				<div class="video"><iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=e3002dv66xs"
						allowFullScreen="true"></iframe></div>
			</div>
		</div>


</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>

<!-- 公共js end -->


<script src="/yifeinewmuban/scripts/lib/jweixin-1.0.0.js"></script>
<!-- <script src="/yifeinewmuban/scripts/lib/myweixin-1.0.js"></script> -->


<script src="/yifeinewmuban/scripts/api.js"></script>
<script src="/yifeinewmuban/scripts/Func.js"></script>


<script>
	// 签名处理
	//var link = location.protocol + "//" + location.hostname + "/personality/yifeinewmuban/indextwo" ;
	//var link = "https://test-qdwzact.lxcyhd.com/personality/yifeinewmuban/indextwo" ; //测试

	var link = "https://qdwzact.lxcyhd.com/personality/yifeinewmuban/indextwo"; //线上

	getHeader();
	var href = window.location.href.split('?');
	if (window.sessionStorage.headerInfor) {
		if (href[1]) {
			window.location.href = href[0];
		}
	}
	$(function () {
		/**微信分享*/
		// common.wxShare({
		// 	title: "测试",
		// 	desc: "测试11",
		// 	link: "https://h5.ebiaoji.com/wanke190902/index.html",
		// 	imgUrl: 'https://h5.ebiaoji.com/wanke190902/img/share.png',
		// 	isStat: true
		// });
		// 微信分享


		Func.findShareParams({
			thisUrl: window.location.href.split('?')[0]
		}, function (res) {
			$('#loadingWrapper').hide();

			if (res.code === 200) {
				var data = res.data;

				wx.config({
					debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
					appId: data.autAppid, // 必填，公众号的唯一标识
					timestamp: data.timestamp, // 必填，生成签名的时间戳
					nonceStr: data.nonceStr, // 必填，生成签名的随机串
					signature: data.signature,// 必填，签名
					jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
				});

				wx.ready(function () {
					wx.onMenuShareTimeline({
						title: '亿菲润滑油，请给我一个购买你的理由！', // 分享标题
						//link: 'https://www.meipian7.cn/2err1nav?first_share_uid=73827050&share_depth=2&share_source=singlemessage&sharer_id=ojq1tt3ox6dbn_CwFTAcFLqe2JZg&user_id=ohbsluBkaRDSPgz5AuU70a0glzyU&v=5.2.1', 
						link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
						imgUrl: 'https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/yifeiNew/Share.jpg', // 分享图标
						success: function () {
							// 用户点击了分享后执行的回调函数

							Func.addShareRecord({

							}, function (res) {

								console.log(res)
							})
						}
					});

					wx.onMenuShareAppMessage({
						title: '亿菲润滑油，请给我一个购买你的理由！', // 分享标题
						desc: '为了亿菲润滑油的品牌推广，为了增加您抽取大红包的概率，建议您转发该文章并积累更多的点赞，系统会给您更多惊喜⋯', // 分享描述
						link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
						imgUrl: 'https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/yifeiNew/Share.jpg', // 分享图标

						type: '', // 分享类型,music、video或link，不填默认为link
						dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
						success: function () {
							// 用户点击了分享后执行的回调函数

							Func.addShareRecord({

							}, function (res) {

								console.log(res)
							})
						}
					});
				});
			} else {
				common.alert({
					content: res.msg,
					mask: true
				});
			}
		});
	})



</script>

</html>