<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">
    <link rel="stylesheet" href="/liulinNew/css/index.css">
</head>

<body>
<div id="container">
    <div class="con">

        <!-- 提示图片 -->
        <img class="warn-img" src="/liulinNew/images/error1.png">

        <!-- 提示文字 -->
        <div class="warn-text">该码未激活<br/>
            请联系柳林酒业客服400-609-1973
        </div>
    </div>
</div>
</body>

</html>