<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>柳林酒业</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">
    <link rel="stylesheet" href="/liulin/scripts/plug/swiper/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="/liulin/css/font.css">
    <link rel="stylesheet" href="/liulin/css/productInfor.css">
</head>

<body>
    <div id="container">

        <div class="content">

            <div class="banner">

                <div class="swiper-container">
                    <div class="swiper-wrapper"></div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <!-- <img src="" alt="" class="imgUrl" id="imgUrl"> -->

            <!--商品信息-->
            <div class="infor">
                <div class="infor-title-wra">
                    <div class="infor-title">商品信息</div>
                </div>

                <div class="infor-list">
                    <!-- <div class="infor-item">
                        <div class="infor-key">商品名称：</div>
                        <div class="infor-val" id="productName"></div>
                    </div>
                    <div class="infor-item">
                        <div class="infor-key">商品条码：</div>
                        <div class="infor-val" id="productCode"></div>
                    </div>
                    <div class="infor-item">
                        <div class="infor-key">建议零售价(元)：</div>
                        <div class="infor-val" id="productOrginalPrice"></div>
                    </div>
                    <div class="infor-item">
                        <div class="infor-key">保质期描述：</div>
                        <div class="infor-val" id="expirationDateDes"></div>
                    </div>
                    <div class="infor-item">
                        <div class="infor-key">生产地址：</div>
                        <div class="infor-val" id="place"></div>
                    </div>
                    <div class="infor-item">
                        <div class="infor-key">商品规格：</div>
                        <div class="infor-val" id="productSpec"></div>
                    </div> -->

                </div>

            </div>

        </div>

        <!--导航-->
        <div class="nav-list">
            <!-- <a class="nav-item" href="/template/liulin/introduction">活动介绍</a> -->
            <a class="nav-item active" href="/template/liulin/index">产品信息</a>
            <a class="nav-item" href="/template/liulin/overview">企业简介</a>

            <a href="http://www.liulinjiuye.com" class="gw">http://www.liulinjiuye.com</a>
        </div>

    </div>

</body>
<!-- 公共js start -->
<%-include("../../include/commonJs") %>
    <%-include("../../include/hideMenu") %>
        <!-- 公共js end -->

        <script src="/liulin/scripts/api.js"></script>
        <script src="/liulin/scripts/Func.js"></script>
        <script src="/liulin/scripts/lib/jweixin-1.0.0.js"></script>
        <script src="/liulin/scripts/plug/swiper/swiper-3.3.1.jquery.min.js"></script>

        <script>
            var html = '';
            var data;
            $.ajax({
                url: api.findEncodeFunction,
                type: 'GET',
                dataType: 'json',
                headers: getHeader(),
                success: function(res) {
                    if (res.code == 200) {
                        data = res.data;

                        //循环图片
                        var changeImgUrl = data.productRecord.changeImgUrl;
                        var html2 = '';

                        for (let changeImgUrla of changeImgUrl) {
                            html2 += '<div class="swiper-slide">';
                            html2 += '<img src="' + changeImgUrla + '">';
                            html2 += '</div>';
                        }

                        $('.swiper-wrapper').html(html2);
                        var swiper = new Swiper('.swiper-container', {
                            loop: true,
                            autoplay: 2500,
                            disableOnInteraction: false,
                            pagination: '.swiper-pagination',
                        });



                        //循环内容信息
                        var jsonPropArr = data.productRecord.productJson;
                        for (key in jsonPropArr) {
                            html += '<div class="infor-item">';
                            html += '<div class="infor-key">' + key + '：</div>';

                            html += '<div class="infor-val" id="place">' + jsonPropArr[key] + '</div>';
                            html += '</div>';
                        }


                        $('.infor-list').append(html);


                    } else {
                        common.alert({
                            mask: true,
                            content: res.msg
                        })
                    }
                },
                error: function(res) {
                    common.alert({
                        mask: true,
                        content: res.msg
                    })
                }
            });
        </script>

</html>