<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">
    <title>柳林酒业</title>
    <link rel="stylesheet" href="/liulin/css/introduction.css">
</head>
<body>
<div id="container">
    <div class="content">

        <img class="logo" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/liulin/5_1.png" alt="">

        <img class="rule" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/liulin/5_2.png" alt="">

        <!--<div class="activity-wra">
            <div class="activity-title">活动介绍：</div>
            <div class="activity-dec">
                <p>1.打开柳林•紫色财富瓶盖；</p>
                <p>使用微信扫一扫瓶盖内二维码；</p>
                <p>关注柳林酒业微信公众号；</p>
                <p>领取现金红包。</p>
            </div>

            <div class="activity-text">
                <p>本次活动奖金总<span class="num">金额240万，</span>中奖率90%。</p>
                <p>(中奖金额100元，中奖率1%；中奖金额50元，中奖率30%；中间金额20元，中奖率40%；中奖金额10元，中奖率19%；谢谢参与比率10%)</p>
            </div>

            <div class="activity-time">活动时间：2019年3月15日-2021年3月15日</div>
            <div class="activity-tip">法律允许范围内本活动最终解释权归西安柳林酒业营销有限责任公司所有</div>
        </div>-->

        <!--导航-->
        <div class="nav-list">
            <a class="nav-item" href="/template/liulin/index">商品信息</a>
            <a class="nav-item" href="/template/liulin/overview">公司简介</a>
            <a class="nav-item active" href="/template/liulin/introduction">活动介绍</a>
        </div>
    </div>
</div>


<script src="/liulin/scripts/lib/jquery-2.2.2.min.js"></script>
<script src="/liulin/scripts/lib/common.js"></script>
</body>
</html>

