<div class="btn-wrapper" id="btnWrapper">
	<ul class="btn-list">
		<li class="item" style="<% if(page === 'index') { %>display: none;<% } %>">
			<a href="/standard/commonAct_2/act/security">防伪验证</a>
		</li>
		<li class="item" style="<% if(page === 'index') { %>display: none;<% } %>">
			<a href="/standard/commonAct_2/act/traceability">溯源信息</a>
		</li>
	</ul>
</div>