<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">

    <title></title>

    <link rel="stylesheet" type="text/css" href="/xinjiangPartner/css/index.css" />
    <link rel="stylesheet" href="/xinjiangPartner/js/swiper/swiper-3.3.1.min.css">



</head>

<body>

    <!--加载页-->
    <div class="loading">
        <div class="loadCon">
            <img src="/xinjiangPartner/img/loading.png">
            <div id="percent">1%</div>
        </div>
    </div>

    <div class="container">

        <div class="containera">

            <div class="banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img
                                src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/xinjiangPartner/1_1.png">
                        </div>
                        <div class="swiper-slide"><img
                                src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/xinjiangPartner/1_2.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav">
                <div class="nav-item ater">
                    企业介绍

                    <span class="spana"></span>
                </div>
                <div class="nav-item">

                    产品信息
                    <span class="spana"></span>
                </div>
                <div class="nav-item">

                    检验报告
                    <span class="spana"></span>
                </div>
                <div class="nav-item">
                    防伪溯源
                    <span class="spana"></span>
                </div>
            </div>
            <div class="content" id="content">

                <!-- 企业介绍 -->
                <div class="content-con1 content-item">
                    <div class="content-con-img">
                        <img
                            src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/xinjiangPartner/1_4.png">
                    </div>
                    <div class="content-con-text">
                        阿克苏嘉邦肥业有限公司成立于2008年，厂址坐落于美丽的南疆水韵之城阿克苏市，公司集科研、生产、农化服务为一体的重点综合肥料企业，是新疆维吾尔自治区内首批取得复合肥合格生产资质的化肥生产企业，是阿克苏地区首批经过新疆自治区批准纳入政府重点帮扶的绿色农业化肥生产企业之一。
                        主要产品有：高塔造粒复合肥、复混肥、大量元素水溶肥、有机-无机复混肥、生物菌肥、生物有机肥。
                        销售网络覆盖新疆全区域。
                        自2015年至今均取得自治区测土施肥企业资格认证，自成立之初，嘉邦肥业本着“嘉以为农，富国兴邦”的经营理念，在10年内迅速发展壮大，现已成为全疆地区复混肥料、大量元素水溶肥的龙头生产企业。
                    </div>
                </div>

                <!-- 产品信息 -->
                <div class="content-con2 content-item">

                    <div class="content-con-img">
                        <img
                            src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/xinjiangPartner/1_4.png">
                    </div>

                    <div class="content-con-con">
                        <div class="text-header"><span></span> 产品信息</div>
                        <div class="text-con">
                            <div class="text-con-item">
                                <div class="text-con-item-left">商品名称：</div>
                                <div class="text-con-item-right">复合肥料</div>
                            </div>

                            <div class="text-con-item">
                                <div class="text-con-item-left">商品品牌：</div>
                                <div class="text-con-item-right">金一上</div>
                            </div>
                            <div class="text-con-item">
                                <div class="text-con-item-left">生产工艺：</div>
                                <div class="text-con-item-right">高塔造粒</div>
                            </div>
                            <div class="text-con-item">
                                <div class="text-con-item-left">商品类型：</div>
                                <div class="text-con-item-right">硫酸钾型</div>
                            </div>
                            <div class="text-con-item">
                                <div class="text-con-item-left">总养分：</div>
                                <div class="text-con-item-right">51%</div>
                            </div>
                            <div class="text-con-item">
                                <div class="text-con-item-left">净含量：</div>
                                <div class="text-con-item-right">40kg</div>
                            </div>

                            <div class="text-con-item">
                                <div class="text-con-item-left">含量配比：</div>
                                <div class="text-con-item-right">17-17-17</div>
                            </div>
                            <div class="text-con-item">
                                <div class="text-con-item-left">执行标准：</div>
                                <div class="text-con-item-right">GB/T15063-2009</div>
                            </div>
                            <div class="text-con-item">
                                <div class="text-con-item-left">适用作物：</div>
                                <div class="text-con-item-right">苹果、香梨、红枣、核桃、普通、大棚蔬菜等
                                </div>
                            </div>
                            <div class="text-con-item">
                                <div class="text-con-item-left">适用作物：</div>
                                <div class="text-con-item-right">苹果、香梨、红枣、核桃、普通、大棚蔬菜等
                                </div>
                            </div>
                            <div class="text-con-item">
                                <div class="text-con-item-left">适用作物：</div>
                                <div class="text-con-item-right">苹果、香梨、红枣、核桃、普通、大棚蔬菜等
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 检验报告 -->
                <div class="content-con3 content-item">
                    111

                </div>

                <!-- 防伪溯源 -->
                <div class="content-con4 content-item">

                    <div class="content-text">
                        亲爱的用户，欢迎您购买我们公司的产品，请根据产品包装上的提示输入序列号进行验证真伪操作。
                    </div>

                    <div class="content-inp">
                        <input type="text" placeholder="请输入序列号">
                    </div>

                    <div class="content-btn">
                        <div class="btn"> 提交查询</div>
                        <!-- <button>提交查询</button> -->
                    </div>

                    <div class="content-footer">
                        尊敬的客服您好!阿克苏嘉邦肥业有限公司提醒您所查询的产品信息已被查询
                        <span>3</span>次，最后一次查询与：<span>2019-08-01 18:30:30</span>
                    </div>

                </div>
            </div>
        </div>


        <!-- 联系我们 -->
        <div class="containerb">
            <div class="header"> <img
                    src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/xinjiangPartner/1_7.png">
            </div>
            <div class="banner">
                <img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/xinjiangPartner/1_2.png">
            </div>

            <div class="content">
                <div class="content-img1"><img
                        src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/xinjiangPartner/1_5.png">
                </div>
                <div class="content-img2"><img
                        src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/xinjiangPartner/1_6.png">
                </div>
            </div>
        </div>

        <div class="tfooter"></div>
        <div class="footer">

            <div class="footer-item"><a href="http://jiabang-ag.com">官方网站 </a><span></span></div>
            <div class="footer-item" id="gzh">关注微信<span></span></div>
            <div class="footer-item"><a href="tel:400-0977-116">在线拨号</a><span></span></div>
            <div class="footer-item" id='contactus'>联系我们</div>
        </div>



        <!-- 关注公众号-->
        <div class="gzh">
            <div class="gzh-con">

                <div class="gzh-con-img"><img
                        src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/xinjiangPartner/1_10.jpg"
                        alt=""></div>
                <div class="gzh-con-text">
                    <p>嘉邦微信公众号</p>
                </div>
            </div>
            <div class="gzh-gb">
                <img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/xinjiangPartner/1_9.png"
                    alt="">
            </div>
        </div>
    </div>

    <!-- 公共js start -->
    <%-include("../../include/commonJs") %>
    <%-include("../../include/hideMenu") %>
    <!-- 公共js end -->
    <script src="/xinjiangPartner/js/lib/jquery-2.2.2.min.js"></script>
    <script src="/xinjiangPartner/js/swiper/swiper-3.3.1.jquery.min.js"></script>
    <script src="/xinjiangPartner/js/api.js"></script>
    <script src="/xinjiangPartner/js/Func.js"></script>
    <script src="/xinjiangPartner/js/lib/jweixin-1.0.0.js"></script>
    <script>

		$(function() {
			/**加载进度*/
			// debugger
			common.loading($("#percent"), function() {
				$('.loading').hide();
				$('.container').fadeIn();
			});

		})


        // 输入框失去焦点兼容苹果系统
        $('.container').on('blur', 'input,textarea,select', function () {
            setTimeout(function () {
                var hasFocus = $('input').is(':focus') || $('textarea').is(':focus') || $('select').is(':focus');
                if (!hasFocus) {
                    window.scroll(0, 0);
                }
            }, 100);
        });


        var winHeight = $(window).height();   //获取当前页面高度
        $(window).resize(function () {
            var thisHeight = $(this).height();
            if (winHeight - thisHeight > 50) {
                //当软键盘弹出，在这里面操作
                $('.footer').css({ 'position': 'static' })
            } else {
                //当软键盘收起，在此处操作
                $('.footer').css({ 'position': 'fixed' })
            }
        });

        var swiper = new Swiper('.swiper-container', {
            loop: true,				//是否无缝轮播
            autoplay: 2000,		//轮播时间
            speed: 500,
            autoplayDisableOnInteraction: false,	//滑动后不会停止继续轮播

            // loop: true,
            // autoplay: {
            //     delay: 2000,
            //     disableOnInteraction: false,
            // },

            // onSlideChangeEnd: function (swiper) {
            //     swiper.update(); //swiper更新
            // }
        });


        $('.nav-item').on('click', function () {
            var index = $(this).index();
            $(".nav-item").find('.spana').hide();
            $(this).siblings().removeClass('ater');

            $(this).addClass('ater');
            $(this).find('.spana').show();

            $('.content-item').hide();
            $('.content-item').eq(index).show();
        })

        // 联系我们
        $('#contactus').on('click', function () {
            $(".containerb").show()
            $(".containera").hide()
        })


        //关闭联系我们
        $('.header').on('click', function () {
            $(".containera").show()
            $(".containerb").hide()

        })

        //打开公众号弹窗
        $('#gzh').on('click', function () {
            $('.gzh').show()
        })

        //关闭公众号弹窗
        $('.gzh-gb').on('click', function () {
            $('.gzh').hide()
        })
    </script>

</body>

</html>