<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=750, user-scalable=no">
	<title>昊甄红薯二维码防伪溯源信息</title>
	<link rel="stylesheet" type="text/css" href="/shenyangzhenglin/css/index.css" />
	<link rel="stylesheet" type="text/css" href="/shenyangzhenglin/css/swiper-3.3.1.min.css" />
</head>

<body>

	<!--加载页-->
	<div class="loading">
		<div class="loadCon">
			<img src="/shenyangzhenglin/images/loading.png">
			<div id="percent">1%</div>
		</div>
	</div>


	<div class="container">

		<div class="banner">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img
							src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_8.png">
					</div>
					<div class="swiper-slide">
						<img
							src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_34.png">
					</div>
					<div class="swiper-slide">
						<img
							src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_35.png">
					</div>
				</div>

				<div class="swiper-pagination"></div>
			</div>
		</div>

		<div class="nav">

			<div class="nav-item nav-after">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_3.png">
				产品信息
			</div>

			<div class="nav-item">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_5.png">
				检验报告
			</div>
		</div>

		<!-- 产品信息 -->
		<div class="product">

			<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_9.png">
		</div>

		<div class="produnctinfo">
			<div class="produnctinfo-title">
				<span></span>产品介绍
			</div>

			<div class="produnctinfo-text">
				红薯是一种营养齐全而丰富的天然滋补食品，富含蛋白质、脂肪、多糖、磷、钙、钾、胡萝卜素、维生素A、维生素C、维生素E、维生素B1、维生素B2和8种氨基酸。据科学家分析，其蛋白质的含量超过大米的7倍;每100g鲜薯块可食部分含碳水化合物29.5g，脂肪0.2g，磷20g，钙18g，铁0.4g。这些物质，对促进人的脑细胞和分泌激素的活性，增强人体抗病能力，提高免疫功能，延缓智力衰退和机体衰老起着重要作用。日本卫生部已将其列为食疗的重要食品。
			</div>

		</div>


		<!-- 质检报告 -->
		<div class="inspection">
			<div class="inspection-title">
				<span></span>检验报告
			</div>

			<div class="inspection-img">
				<div class="inspection-img-item">
					<img
						src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_32.jpg">
				</div>

				<div class="inspection-img-item">
					<img
						src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_33.jpg">
				</div>


			</div>
		</div>

		<!-- <div class="tfooter">

		</div> -->
		<div class="footer">

			查看产品详细信息
		</div>


		<!-- 产品详细信息 -->
		<div class="content">

			<div class="content-title">
				<span></span>产品信息
			</div>

			<div class="content-con">
				<div class="content-con-item">
					<div class="key">商品信息：</div>
					<div class="value">红薯</div>
				</div>

				<div class="content-con-item">
					<div class="key">商品品牌：</div>
					<div class="value">昊甄</div>
				</div>

				<div class="content-con-item">
					<div class="key">商品品牌：</div>
					<div class="value">昊甄</div>
				</div>

				<div class="content-con-item">
					<div class="key">商品产地：</div>
					<div class="value">辽宁盖州</div>
				</div>

				<div class="content-con-item">
					<div class="key">种植选地：</div>
					<div class="value">
						远离污染源

						<div class="value-img">

							<div class="value-img-item">
								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_10.jpg">

								<div class="value-img-text">(点击查看大图)</div>

							</div>

						</div>
					</div>
				</div>

				<div class="content-con-item">
					<div class="key">施肥类型：</div>
					<div class="value">
						土壤调理剂和生物菌剂
						<div class="value-img">

							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_11.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_12.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content-con-item">
					<div class="key">整地类型：</div>
					<div class="value">
						人工古法传统种植
						<div class="value-img">

							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_13.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_14.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
						</div>
					</div>
				</div>


				<div class="content-con-item">
					<div class="key">育苗：</div>
					<div class="value" style="margin-top: 10px;">

						<div class="value-img">

							<div class="value-img-item">
								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_15.jpg">

								<div class="value-img-text">(点击查看大图)</div>

							</div>

						</div>
					</div>
				</div>

				<div class="content-con-item">
					<div class="key">种植：</div>
					<div class="value" style="margin-top: 10px;">

						<div class="value-img">

							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_16.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_17.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
						</div>
					</div>
				</div>

				<div class="content-con-item">
					<div class="key">生长周期：</div>
					<div class="value">130天
						<div class="value-img">

							<div class="value-img-item">
								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_18.jpg">

								<div class="value-img-text">(点击查看大图)</div>

							</div>

						</div>
					</div>
				</div>

				<div class="content-con-item">
					<div class="key">除草方式：</div>
					<div class="value">全程人工除草，未使用除草剂
						<div class="value-img">

							<div class="value-img-item">
								<video width="400" height="280" controls="controls" style="object-fit:fill;"
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_88.mp4" 
									type="video/mp4">
								</video>

								<!-- <div class="value-img-text">(点击查看视频)</div> -->

							</div>

						</div>
					</div>
				</div>


				<div class="content-con-item">
					<div class="key">土壤生态：</div>
					<div class="value">全场未使用杀虫剂，蚯蚓随处可见
						<div class="value-img">

							<div class="value-img-item">
								<video width="400" height="280" controls="controls" style="object-fit:fill;"
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_89.mp4">
								</video>

								<!-- <div class="value-img-text">(点击查看视频)</div> -->

							</div>

							<div class="value-img-item">
								<!-- <video id="video3" width="400" height="280" controls="controls" style="object-fit:fill;"
									x5-video-player-type="h5" x5-video-player-fullscreen="true" -->

								<video  width="400" height="280" controls="controls" style="object-fit:fill;"
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_88.mp4">
								</video>

								<!-- <div class="value-img-text">(点击查看视频)</div> -->

							</div>

						</div>
					</div>
				</div>

				<div class="content-con-item">
					<div class="key">果实生态：</div>
					<div class="value">
						全场未使用膨大剂，果实形态自然如纺锤形
						<div class="value-img">

							<div class="value-img-item">
								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_19.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_20.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
						</div>
					</div>
				</div>

				<div class="content-con-item">
					<div class="key">产品味道：</div>
					<div class="value">
						纯自然香甜，味道极佳
						<div class="value-img">

							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_21.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_22.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>

							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_23.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
						</div>
					</div>
				</div>

				<div class="content-con-item">
					<div class="key">观测情况：</div>
					<div class="value">随时观测土壤和果实情况
						<div class="value-img">

							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_24.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_25.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>

							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_26.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>

							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_27.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
						</div>
					</div>
				</div>

				<div class="content-con-item">
					<div class="key">检测单位：</div>
					<div class="value">由华测检测中心进行无公害检测</div>
				</div>

				<div class="content-con-item">
					<div class="key">采摘方式：</div>
					<div class="value">
						采收
						<div class="value-img">

							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_28.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_29.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
						</div>
					</div>
				</div>


				<div class="content-con-item">
					<div class="key">全程监控：</div>
					<div class="value">
						<div class="value-img">

							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_30.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
							<div class="value-img-item">

								<img
									src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_31.jpg">

								<div class="value-img-text">(点击查看大图)</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="picture">

			<div class="picture-con">
				<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_33.jpg">
			</div>

		</div>
	</div>
</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>
<%-include("../../include/hideMenu") %>
<!-- 公共js end -->

<script src="/wunong/scripts/api.js"></script>
<script src="/wunong/scripts/Func.js"></script>
<!-- <script src="/wunong/scripts/lib/common.js"></script> -->
<script src="/wunong/scripts/lib/jweixin-1.0.0.js"></script>
<script src="/wunong/scripts/plug/swiper-3.3.1.jquery.min.js"></script>

<script>
	// $(function () {
	// 	/**加载进度*/
		
	// 	common.loading($("#percent"), function () {
	// 		$('.loading').hide();

	// 		$('.container').fadeIn();
	// 	});
	// })

	var swiper = new Swiper('.swiper-container', {
		loop: true,
		autoplay: 2500,
		autoplayDisableOnInteraction: false,	//滑动后不会停止继续轮播
		pagination: '.swiper-pagination',
	});

	// $('#loadingWrapper').show();


	var index = 0;
	$('.nav-item').on('click', function () {
		var that = this;

		index = $(that).index();


		if (index == 0) {
			$('.nav-item:first-child').addClass('nav-after');
			$('.nav-item:first-child img').attr('src', 'https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_3.png');
			$('.nav-item:last-child img').attr('src', 'https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_5.png');
			$('.nav-item:last-child').removeClass('nav-after');

			$('.product').show()
			$('.produnctinfo').show();
			$('.inspection').hide()

			$('.footer').show();


		} else {
			$('.nav-item:last-child').addClass('nav-after');
			$('.nav-item:first-child img').attr('src', 'https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_4.png');
			$('.nav-item:last-child img').attr('src', 'https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/shenyangzhenglin/1_6.png');
			$('.nav-item:first-child').removeClass('nav-after');


			$('.product').hide()
			$('.produnctinfo').hide();
			$('.inspection').show()

			$('.footer').hide();

			$('.content').hide();
		}
	})


	$('.value-img-item img').on('click', function () {
		var that = this;
		console.log()

		var src = $(that).attr('src');

		wx.previewImage({
			current: 'src', // 当前显示图片的http链接
			urls: [src] // 需要预览的图片http链接列表
		});
	})


	$('.footer').on('click', function () {

		$('.footer').hide();
		$('.content').show();
	})

	// $('.produtvideo-video-img').on('click', function () {
	// 	$('.produtvideo-video-img').hide();
	// 	$('video').get(0).play();

	// 	// $('.onhref').hide()

	// })



	// video1.addEventListener("x5videoenterfullscreen", function () {

	// 	window.onresize = function () {

	// 		video1.style.width = "375px";

	// 		video1.style.height = "600px";
	// 		// video1.style.width = "375px";

	// 		// video1.style.height = "600px";

	// 	}

	// })


	// video1.addEventListener("x5videoexitfullscreen", function () {


	// 	window.onresize = function () {
	// 		video1.style.width = "400px";

	// 		video1.style.height = "280px";

	// 	}


	// })


	// video2.addEventListener("x5videoenterfullscreen", function () {

	// 	window.onresize = function () {

	// 		video2.style.width = window.innerWidth + "px";

	// 		video2.style.height = window.innerHeight - 200 + "px";

	// 	}

	// })


	// video2.addEventListener("x5videoexitfullscreen", function () {


	// 	// alert('1111')


	// 	window.onresize = function () {
	// 		video2.style.width = "400px";

	// 		video2.style.height = "280px";

	// 	}


	// })


	// video3.addEventListener("x5videoenterfullscreen", function () {

	// 	window.onresize = function () {

	// 		video3.style.width = window.innerWidth + "px";

	// 		video3.style.height = window.innerHeight - 200 + "px";

	// 	}

	// })


	// video3.addEventListener("x5videoexitfullscreen", function () {


	// 	// alert('1111')


	// 	window.onresize = function () {
	// 		video3.style.width = "400px";

	// 		video3.style.height = "280px";

	// 	}


	// })
</script>

</html>