<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=640, user-scalable=no">
	<link rel="stylesheet" href="/langyanboxout/css/index.css" />
	<title>狼烟天下</title>
</head>
<body>
	<div class="app">
		<div class="container">
			<img class="con-bg" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/langyan/images/1/2_1.jpg" alt="">
			<div class="scroll-wrapper">
				<div class="wrapper">
					<!--<img class="logo" src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/langyan/images/1/2_1.jpg" />-->

					<a class="item" href="http://www.langyantianxia.com"><img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/langyan/images/1/2_2.png" /></a>

					<!--<p class="bottom-txt">深圳市哈特曼科技有限公司</p>-->
				</div>
			</div>
		</div>
	</div>

	<%-include('../../include/commonJs') %>
	<%-include("../../include/hideMenu") %>
	<!-- 公共js start -->
	<script src="/common/scripts/Func.js"></script>
	<script src="/langyanboxout/js/api.js"></script>
	<script src="/langyanboxout/js/lib/jweixin-1.0.0.js"></script>
	<script>
		$('.app').on('touchmove',function (e) {
			e.preventDefault();
        })
	</script>
</body>
</html>