.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
/* 新增一些iPhone下不兼容的动画库 */
/*
 * 1.从左向右出动画
*/
@-webkit-keyframes left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes left {
  0% {
    opacity: 0;
    -o-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 2.从右向左出动画
*/
@-webkit-keyframes right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes right {
  0% {
    opacity: 0;
    -moz-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes right {
  0% {
    opacity: 0;
    -o-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 3.从上向下出动画
*/
@-webkit-keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes down {
  0% {
    opacity: 0;
    -moz-transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes down {
  0% {
    opacity: 0;
    -o-transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 4.从下往上出动画
*/
@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes up {
  0% {
    opacity: 0;
    -moz-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes up {
  0% {
    opacity: 0;
    -o-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 5.上下浮动动画1
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown1 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}
@-moz-keyframes upDown1 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}
@-o-keyframes upDown1 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(10px);
  }
}
/*
 * 6.上下浮动动画2
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown2 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-moz-keyframes upDown2 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-o-keyframes upDown2 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(20px);
  }
}
/*
 * 7.上下浮动动画3
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown3 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
  }
}
@-moz-keyframes upDown3 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
  }
}
@-o-keyframes upDown3 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(30px);
  }
}
/*
 * 8.左右浮动动画1
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight1 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes leftRight1 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
@-o-keyframes leftRight1 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(10px);
  }
}
/*
 * 9.左右浮动动画2
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight2 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
  }
}
@-moz-keyframes leftRight2 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
  }
}
@-o-keyframes leftRight2 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(20px);
  }
}
/*
 * 10.左右浮动动画3
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight3 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
  }
}
@-moz-keyframes leftRight3 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
  }
}
@-o-keyframes leftRight3 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(30px);
  }
}
@-webkit-keyframes shakeAni {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
#app .container {
  position: relative;
  width: 100%;
  height: 100%;
}
#app .container .content {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/guanli/1_9.jpg') no-repeat;
  background-size: 100% 100%;
}
#app .container .content .logo {
  position: absolute;
  left: 3%;
  top: 2%;
}
#app .container .content .rule-btn {
  position: absolute;
  top: 45px;
  right: 0;
}
#app .container .content .coin-img {
  width: 80%;
  position: absolute;
  top: 110px;
  left: 10%;
}
#app .container .content .big-lottery {
  width: 100%;
  height: 700px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/guanli/1_4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#app .container .content .big-lottery .turn-table-wrap {
  width: 640px;
  height: 640px;
  margin: -20px auto 0 auto;
  transform: rotate(0deg);
}
#app .container .content .big-lottery .turn-table-wrap .turn-table {
  width: 100%;
}
#app .container .content .big-lottery .turn-table-wrap .award-list li {
  width: 150px;
  height: 240px;
  text-align: center;
  font-size: 24px;
  color: #75170b;
  position: absolute;
  top: 80px;
  left: 245px;
  transform-origin: bottom;
}
#app .container .content .big-lottery .turn-table-wrap .award-list li:nth-of-type(1) {
  transform: rotate(18deg);
}
#app .container .content .big-lottery .turn-table-wrap .award-list li:nth-of-type(2) {
  transform: rotate(54deg);
}
#app .container .content .big-lottery .turn-table-wrap .award-list li:nth-of-type(3) {
  transform: rotate(90deg);
}
#app .container .content .big-lottery .turn-table-wrap .award-list li:nth-of-type(4) {
  transform: rotate(126deg);
}
#app .container .content .big-lottery .turn-table-wrap .award-list li:nth-of-type(5) {
  transform: rotate(162deg);
}
#app .container .content .big-lottery .turn-table-wrap .award-list li:nth-of-type(6) {
  transform: rotate(198deg);
}
#app .container .content .big-lottery .turn-table-wrap .award-list li:nth-of-type(7) {
  transform: rotate(234deg);
}
#app .container .content .big-lottery .turn-table-wrap .award-list li:nth-of-type(8) {
  transform: rotate(268deg);
}
#app .container .content .big-lottery .turn-table-wrap .award-list li:nth-of-type(9) {
  transform: rotate(304deg);
}
#app .container .content .big-lottery .turn-table-wrap .award-list li:nth-of-type(10) {
  transform: rotate(340deg);
}
#app .container .content .big-lottery .lottery-btn {
  width: 160px;
  position: absolute;
  left: 50%;
  top: 200px;
  margin-left: -80px;
}
#app .container .cover {
  display: none;
  width: 100%;
  height: 100%;
  font-size: 24px;
  line-height: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}
#app .container .cover .rule-content {
  width: 600px;
  height: 660px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#app .container .cover .rule-content .rule-img {
  width: 100%;
}
#app .container .cover .rule-close-btn {
  position: absolute;
  top: 82%;
  left: 45%;
}
#app .container .tip {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#app .container .tip .rule-content {
  width: 600px;
  height: 660px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#app .container .tip .rule-content .rule-img {
  width: 100%;
}
#app .container .tip .rule-content .erweima-wrap {
  width: 100%;
  position: absolute;
  top: 290px;
}
#app .container .tip .rule-content .erweima-wrap .erweima {
  display: block;
  width: 280px;
  height: 280px;
  background-color: #666;
  margin: 0 auto;
}
#app .container .tip .rule-content .erweima-wrap .tip-text {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}
#app .container .tip .rule-close-btn {
  position: absolute;
  top: 82%;
  left: 45%;
}
#app .container .submit-info-wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#app .container .submit-info-wrap .rule-content {
  width: 600px;
  height: 755px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url(https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/guanli/1_17.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#app .container .submit-info-wrap .rule-content .submit-info-content {
  margin-top: 310px;
}
#app .container .submit-info-wrap .rule-content .submit-info-content input {
  width: 198px;
  height: 62px;
  line-height: 62px;
  font-size: 24px;
  border: 2px solid #e6e6e6;
  border-radius: 31px;
  padding-left: 30px;
}
#app .container .submit-info-wrap .rule-content .submit-info-content input::-webkit-input-placeholder {
  /*WebKit browsers*/
  font-size: 24px;
  color: #e6e6 e;
}
#app .container .submit-info-wrap .rule-content .submit-info-content .name-post {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#app .container .submit-info-wrap .rule-content .submit-info-content .name-post .post-wrap {
  width: 188px;
  height: 62px;
  line-height: 62px;
  font-size: 24px;
  border: 2px solid #e6e6e6;
  border-radius: 31px;
  padding-left: 40px;
  position: relative;
}
#app .container .submit-info-wrap .rule-content .submit-info-content .name-post .post-wrap #triangle-down {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #333;
}
#app .container .submit-info-wrap .rule-content .submit-info-content .name-post .post-wrap .post-select {
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 1;
  background-color: #e6e6e6;
}
#app .container .submit-info-wrap .rule-content .submit-info-content .name-post .post-wrap .post-select .post-option {
  width: 188px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border: 1px solid #e6e6e6;
  padding-left: 40px;
}
#app .container .submit-info-wrap .rule-content .submit-info-content .native-place {
  display: block;
  width: 470px;
  margin: 25px auto 0 auto;
}
#app .container .submit-info-wrap .rule-content .submit-info-content .phone {
  display: block;
  width: 470px;
  margin: 25px auto 0 auto;
}
#app .container .submit-info-wrap .rule-content .submit-info-content .confirm-submit {
  width: 500px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  color: #fff;
  background-color: #f45631;
  border-radius: 36px;
  margin: 35px auto 0 auto;
}
#app .container .submit-info-wrap .rule-content .submit-info-content .submit-tip {
  width: 500px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
  margin-top: 20px;
}
#app .container .submit-info-wrap .rule-close-btn {
  position: absolute;
  bottom: -120px;
  left: 45%;
}
#app .container .lottery-win {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#app .container .lottery-win .coin-package {
  display: none;
  position: absolute;
  left: 0;
  top: -90px;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
}
#app .container .lottery-win .lottery-con {
  position: absolute;
  left: 0;
  top: 100px;
  right: 0;
  bottom: 0;
  width: 550px;
  height: 500px;
  padding-top: 68px;
  margin: auto;
}
#app .container .lottery-win .lottery-con .winPrize {
  display: none;
  text-align: center;
}
#app .container .lottery-win .lottery-con .winPrize .winPrize-bg {
  position: absolute;
  top: 0;
  left: -40px;
}
#app .container .lottery-win .lottery-con .noPrize {
  display: none;
  text-align: center;
}
#app .container .lottery-win .lottery-con .noPrize .no-prize-bg {
  position: absolute;
  top: 0;
  left: -40px;
}
#app .container .lottery-win .lottery-con .noPrize .lottery-title1 {
  width: 100%;
  font-size: 46px;
  font-weight: bold;
  color: #a96711;
  line-height: 92px;
  text-align: center;
  position: relative;
  bottom: 50px;
}
#app .container .lottery-win .lottery-con .noPrize .tear {
  position: relative;
  bottom: 35px;
}
#app .container .lottery-win .lottery-con .scanCode {
  display: none;
  text-align: center;
}
#app .container .lottery-win .lottery-con .scanCode .scanCode-bg {
  position: absolute;
  top: 0;
  left: -40px;
}
#app .container .lottery-win .lottery-con .scanCode .tear {
  position: relative;
  bottom: 50px;
}
#app .container .lottery-win .lottery-con .scanCode .scan-code-text {
  position: relative;
  bottom: 50px;
}
#app .container .lottery-win .lottery-con .scanCode .scanCode-title {
  position: relative;
  z-index: 10;
  display: block;
  margin: -10px auto 0 auto;
}
#app .container .lottery-win .lottery-con .lottery-title {
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  color: #eea330;
  line-height: 80px;
  text-align: center;
  position: relative;
  bottom: 50px;
}
#app .container .lottery-win .lottery-con .lottery-dec1 {
  position: relative;
  bottom: 0;
}
#app .container .lottery-win .lottery-con .lottery-dec1 .num {
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  color: #fa5855;
  font-weight: bold;
}
#app .container .lottery-win .lottery-con .lottery-dec1 .num .amount {
  font-size: 50px;
}
#app .container .lottery-win .lottery-con .lottery-dec1 .num .award-type {
  color: #666;
  margin-top: 50px;
}
#app .container .lottery-win .lottery-con .lottery-dec1 .num .coin {
  font-size: 28px;
  color: #a96711;
}
#app .container .lottery-win .lottery-con .lottery-text {
  width: 330px;
  position: absolute;
  bottom: 40px;
  left: 110px;
}
#app .container .lottery-win .lottery-con .code-wra {
  position: absolute;
  left: 0;
  bottom: 62px;
  z-index: 1;
  width: 100%;
}
#app .container .lottery-win .lottery-con .code-wra .code {
  display: block;
  width: 268px;
  height: 253px;
  margin: 0 auto;
}
#app .container .lottery-win .lottery-con .code-wra .code-text {
  font-size: 18px;
  text-align: center;
  color: #989a99;
}
.loading {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.loading .loadCon {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.loading .loadCon img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  -webkit-animation: load 4s linear infinite;
}
.loading .loadCon #percent {
  font-size: 24px;
  line-height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  text-align: center;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
  }
}
