<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/benyi1/css/liping.css" />
    <link rel="stylesheet" type="text/css" href="/benyi1/scripts/plug/swiper-3.3.1.min.css" />
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-con">

                <a class="header-con-item selected">
                    <img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/benyi/2_6.png" alt="">
                    <p>待领取</p>
                </a>
                <a class="header-con-item">
                    <img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/benyi/2_10.png" alt="">
                    <p>已领取</p>
                </a>
                <!-- <a class="header-con-item">
                    <img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/benyi/2_11.png" alt="">
                    <p>待收货</p>
                </a> -->
            </div>

        </div>

        <div class="content" id="scrollW">

            <div class="wrapper">
                <div class="list" id="list">
                    <!-- <div class="content-item">
                        <div class="content-item-left">芙蓉王(蓝)一包</div>
                        <div class="content-item-middel">2019.07.06 14:00</div>
                        <div class="content-item-right"><a>待领取</a></div>
                    </div> -->
                </div>

                
                <div class="loadText" id="loading">上滑加载更多</div>
            </div>

        </div>

        <div class="tfooter"></div>

        <!-- 领取礼品 -->
        <div class="lqlp">
            <div class="lqlp-con">
                <div class="lqlp-con-header">
                    领取成功
                </div>
                <div class="lqlp-con-bottom">
                    领取礼品成功
                </div>
            </div>
        </div>
    </div>

    <div class="containera">
        <div class="con">
            <img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/benyi/6_2.png" alt="">
            <div class="con-txt">您暂时没有礼品哦!</div>

        </div>
    </div>
</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>
<%-include("../../include/hideMenu") %>
<!-- 公共js end -->

<script src="/benyi1/scripts/api.js"></script>
<script src="/benyi1/scripts/Func.js"></script>
<script src="/benyi1/scripts/lib/jweixin-1.0.0.js"></script>
<script src="/benyi1/scripts/plug/swiper-3.3.1.jquery.min.js"></script>


<script src="/benyi1/scripts/lib/bscroll.js"></script>
<script src="/benyi1/scripts/liping.js"></script>
<script>



    var scroll = new BScroll('#scrollW', {
        scrollbar: {
            fade: true
        },
        click: true,
        pullUpLoad: {
            threshold: 0
        }
    });

    var doc = $(document);

    $(function () {
        main.init();

        $('#container').on("touchmove", function (e) {
            e.preventDefault();
        });

        doc.on('click', '.back', function () {
            window.history.back();
        });
    });
</script>

</html>