<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/benyi1/css/upphone.css" />
    <link rel="stylesheet" type="text/css" href="/benyi1/scripts/plug/swiper-3.3.1.min.css" />
</head>

<body>
    <!--  -->
    <div class="container">
        <div class="header"></div>
        <div class="con">
            <div class="con-text">您的手机号：<span class="mobilea">19875897899</span></div>
            <div class="con-img"><img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/benyi/12_1.png" alt=""></div>

        </div>


        <div class="btn" id='btna'>
            更换手机号
        </div>
    </div>


    <div class="containera">
        <div class="header"></div>
        <div class="con">
            <div class="con-img"><img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/benyi/12_1.png" alt=""></div>
            <div class="inp">
                <div class="inp-item">
                    <label><img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/benyi/12_3.png" alt=""></label> <input type="text" id="mobile" placeholder="请输入手机号">
                </div>
                <div class="inp-item">
                    <label><img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/benyi/12_2.png" alt=""></label> <input type="text" id="verCode" placeholder="请输入验证码">
                    <div class="inp-item-btn" id='getVerCode'>
                        获取验证码
                    </div>
                </div>
            </div>
        </div>



        <div class="btn" id='btnb'>
            确定
        </div>
    </div>

</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>
<%-include("../../include/hideMenu") %>
<!-- 公共js end -->

<script src="/benyi1/scripts/api.js"></script>
<script src="/benyi1/scripts/Func.js"></script>
<script src="/benyi1/scripts/lib/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/benyi1/scripts/plug/swiper-3.3.1.jquery.min.js"></script>

<script src="/benyi1/scripts/upphone.js"></script>


</html>