.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
/* 新增一些iPhone下不兼容的动画库 */
/*
 * 1.从左向右出动画
*/
@-webkit-keyframes left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes left {
  0% {
    opacity: 0;
    -o-transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 2.从右向左出动画
*/
@-webkit-keyframes right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes right {
  0% {
    opacity: 0;
    -moz-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes right {
  0% {
    opacity: 0;
    -o-transform: translateX(640px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 3.从上向下出动画
*/
@-webkit-keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes down {
  0% {
    opacity: 0;
    -moz-transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes down {
  0% {
    opacity: 0;
    -o-transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 4.从下往上出动画
*/
@-webkit-keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes up {
  0% {
    opacity: 0;
    -moz-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes up {
  0% {
    opacity: 0;
    -o-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
/*
 * 5.上下浮动动画1
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown1 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}
@-moz-keyframes upDown1 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
  }
}
@-o-keyframes upDown1 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(10px);
  }
}
/*
 * 6.上下浮动动画2
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown2 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-moz-keyframes upDown2 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-o-keyframes upDown2 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(20px);
  }
}
/*
 * 7.上下浮动动画3
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes upDown3 {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
  }
}
@-moz-keyframes upDown3 {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(30px);
  }
}
@-o-keyframes upDown3 {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(30px);
  }
}
/*
 * 8.左右浮动动画1
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight1 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes leftRight1 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
@-o-keyframes leftRight1 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(10px);
  }
}
/*
 * 9.左右浮动动画2
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight2 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
  }
}
@-moz-keyframes leftRight2 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
  }
}
@-o-keyframes leftRight2 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(20px);
  }
}
/*
 * 10.左右浮动动画3
 * 0%从零开始可以实现先淡入后动画的无缝衔接效果，图片可以先加淡入动画，再通过js给它加上漂浮效果
 * 所有漂浮动画都会有一种突兀显示的效果，可以先让图片淡入，然后再加动画（一定要加上反向属性alternate才那实现无缝循环动画）
*/
@-webkit-keyframes leftRight3 {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
  }
}
@-moz-keyframes leftRight3 {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
  }
}
@-o-keyframes leftRight3 {
  0% {
    -o-transform: translateX(0);
  }
  100% {
    -o-transform: translateX(30px);
  }
}
@-webkit-keyframes shakeAni {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
#app .container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#app .container .header {
  display: block;
  width: 100%;
}
#app .container .header .header-bg {
  display: block;
  width: 100%;
}
#app .container .header .header-con {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  padding-top: 70px;
}
#app .container .header .header-con .header-img {
  display: block;
  margin: 0 auto;
}
#app .container .header .header-con .header-text {
  margin-top: 50px;
  text-align: center;
}
#app .container .header .header-con .header-text .header-title {
  display: inline-block;
}
#app .container .header .header-con .header-text .header-title:before,
#app .container .header .header-con .header-text .header-title:after {
  content: " ";
  display: table;
}
#app .container .header .header-con .header-text .header-title:after {
  clear: both;
}
#app .container .header .header-con .header-text .header-title .title-left {
  float: left;
}
#app .container .header .header-con .header-text .header-title .title-left img {
  display: block;
  width: 43px;
}
#app .container .header .header-con .header-text .header-title .title-right {
  float: left;
  margin-left: 8px;
  font-size: 43px;
  line-height: 43px;
  color: #fff;
  font-weight: bold;
}
#app .container .header .header-con .header-dec {
  padding-top: 15px;
  font-size: 28px;
  color: #fff;
  text-align: center;
}
#app .adver-wra {
  margin-top: 150px;
}
#app .adver-wra img {
  display: block;
  width: 100%;
}
@-webkit-keyframes ani1 {
  0% {
    top: 0;
  }
  100% {
    top: 120%;
  }
}
@-webkit-keyframes ani2 {
  0% {
    top: 30%;
  }
  100% {
    top: 120%;
  }
}
@-webkit-keyframes ani3 {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes ani4 {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes shakeAni {
  0% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}
.loading {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.loading .loadCon {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
}
.loading .loadCon img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  -webkit-animation: load 4s linear infinite;
}
.loading .loadCon #percent {
  font-size: 24px;
  line-height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  text-align: center;
}
