<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=750, user-scalable=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/pafeite/css/index.css" />
	<link rel="stylesheet" type="text/css" href="/pafeite/css/swiper-3.3.1.min.css" />
</head>

<body>

	<!--加载页-->
	<div class="loading">
		<div class="loadCon">
			<img src="/pafeite/images/loading.png">
			<div id="percent">1%</div>
		</div>
	</div>

	<div class="container">
		<div class="scancode">
			<img src="https://qdwzvue-1254182596.cos.ap-guangzhou.myqcloud.com/qdwzAct/pafeite/1_1.png">
		</div>

		<div class="text">
			v-for="(item, index) in items" :key="index"

		</div>		
	</div>
</body>

<!-- 公共js start -->
<%-include("../../include/commonJs") %>
<%-include("../../include/hideMenu") %>
<!-- 公共js end -->

<script src="/pafeite/scripts/api.js"></script>
<script src="/pafeite/scripts/Func.js"></script>
<script src="/pafeite/scripts/lib/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="/pafeite/scripts/plug/swiper-3.3.1.jquery.min.js"></script>


</html>